<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.vvorks.builder.server.mapper.ClassMapper">

	<insert id="insert" parameterType="ClassContent">
		INSERT INTO T_CLASS (
			F_CLASS_ID,
			F_OWNER_PROJECT_ID,
			F_CLASS_NAME,
			F_TITLE,
			F_DESCRIPTION,
			F_NOTE,
			F__LAST_UPDATED_AT
		) VALUES (
			#{ classId },
			#{ ownerProjectId },
			#{ className },
			#{ title },
			#{ description },
			#{ note },
			#{ _lastUpdatedAt }
		)
	</insert>

	<update id="update" parameterType="ClassContent">
		UPDATE T_CLASS SET
			F_OWNER_PROJECT_ID = #{ ownerProjectId },
			F_CLASS_NAME = #{ className },
			F_TITLE = #{ title },
			F_DESCRIPTION = #{ description },
			F_NOTE = #{ note },
			F__LAST_UPDATED_AT = #{ _lastUpdatedAt }
		WHERE
			F_CLASS_ID = #{ classId }
	</update>

	<delete id="delete" parameterType="ClassContent">
		DELETE FROM T_CLASS
		WHERE
			F_CLASS_ID = #{ classId }
	</delete>

	<select id="get" resultType="ClassContent">
		SELECT
			F_CLASS_ID AS "classId",
			F_OWNER_PROJECT_ID AS "ownerProjectId",
			F_CLASS_NAME AS "className",
			F_TITLE AS "title",
			F_DESCRIPTION AS "description",
			F_NOTE AS "note",
			F__LAST_UPDATED_AT AS "_lastUpdatedAt"
		FROM
			T_CLASS
		WHERE
			F_CLASS_ID = #{ classId }
	</select>

	<select id="listSummary" resultType="ClassSummary">
		SELECT
			MAX(F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_CLASS
	</select>

	<select id="listContent" resultType="ClassContent">
		SELECT
			F_CLASS_ID AS "classId",
			F_OWNER_PROJECT_ID AS "ownerProjectId",
			F_CLASS_NAME AS "className",
			F_TITLE AS "title",
			F_DESCRIPTION AS "description",
			F_NOTE AS "note",
			F__LAST_UPDATED_AT AS "_lastUpdatedAt"
		FROM
			T_CLASS
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="listSummaryIfNameIs" resultType="ClassSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_CLASS T1
		WHERE
			<![CDATA[
			T1.F_CLASS_NAME = #{name}
			]]>
	</select>

	<select id="listContentIfNameIs" resultType="ClassContent">
		SELECT
			T1.F_CLASS_ID AS "classId",
			T1.F_OWNER_PROJECT_ID AS "ownerProjectId",
			T1.F_CLASS_NAME AS "className",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt"
		FROM
			T_CLASS T1
		WHERE
			<![CDATA[
			T1.F_CLASS_NAME = #{name}
			]]>
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="getOwner" resultType="ProjectContent">
		SELECT
			F_PROJECT_ID AS "projectId",
			F_PROJECT_NAME AS "projectName",
			F_GRADLE_NAME AS "gradleName",
			F_TITLE AS "title",
			F_DESCRIPTION AS "description",
			F_NOTE AS "note",
			F_COPYRIGHTS AS "copyrights",
			F__LAST_UPDATED_AT AS "_lastUpdatedAt"
		FROM
			T_PROJECT
		WHERE
			F_PROJECT_ID = #{ ownerProjectId }
	</select>

	<select id="listFieldsSummary" resultType="FieldSummary">
		SELECT
			MAX(F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_FIELD
		WHERE
			F_OWNER_CLASS_ID = #{ content.classId }
	</select>

	<select id="listFieldsContent" resultType="FieldContent">
		SELECT
			F_FIELD_ID AS "fieldId",
			F_OWNER_CLASS_ID AS "ownerClassId",
			F_FIELD_NAME AS "fieldName",
			F_TYPE AS "type",
			F_WIDTH AS "width",
			F_SCALE AS "scale",
			F_CREF_CLASS_ID AS "crefClassId",
			F_EREF_ENUM_ID AS "erefEnumId",
			F_FREF_FIELD_ID AS "frefFieldId",
			F_PK AS "pk",
			F_NULLABLE AS "nullable",
			F_NEEDS_SUM AS "needsSum",
			F_NEEDS_AVG AS "needsAvg",
			F_NEEDS_MAX AS "needsMax",
			F_NEEDS_MIN AS "needsMin",
			F_TITLE AS "title",
			F_DESCRIPTION AS "description",
			F_NOTE AS "note",
			F__LAST_UPDATED_AT AS "_lastUpdatedAt"
		FROM
			T_FIELD
		WHERE
			F_OWNER_CLASS_ID = #{ content.classId }
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="listFieldsSummaryIfNameIs" resultType="FieldSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_FIELD T1
		WHERE
			T1.F_OWNER_CLASS_ID = #{ content.classId }
			<![CDATA[
			AND T1.F_FIELD_NAME = #{name}
			]]>
	</select>

	<select id="listFieldsContentIfNameIs" resultType="FieldContent">
		SELECT
			T1.F_FIELD_ID AS "fieldId",
			T1.F_OWNER_CLASS_ID AS "ownerClassId",
			T1.F_FIELD_NAME AS "fieldName",
			T1.F_TYPE AS "type",
			T1.F_WIDTH AS "width",
			T1.F_SCALE AS "scale",
			T1.F_CREF_CLASS_ID AS "crefClassId",
			T1.F_EREF_ENUM_ID AS "erefEnumId",
			T1.F_FREF_FIELD_ID AS "frefFieldId",
			T1.F_PK AS "pk",
			T1.F_NULLABLE AS "nullable",
			T1.F_NEEDS_SUM AS "needsSum",
			T1.F_NEEDS_AVG AS "needsAvg",
			T1.F_NEEDS_MAX AS "needsMax",
			T1.F_NEEDS_MIN AS "needsMin",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt"
		FROM
			T_FIELD T1
		WHERE
			T1.F_OWNER_CLASS_ID = #{ content.classId }
			<![CDATA[
			AND T1.F_FIELD_NAME = #{name}
			]]>
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="listQueriesSummary" resultType="QuerySummary">
		SELECT
			MAX(F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_QUERY
		WHERE
			F_OWNER_CLASS_ID = #{ content.classId }
	</select>

	<select id="listQueriesContent" resultType="QueryContent">
		SELECT
			F_QUERY_ID AS "queryId",
			F_OWNER_CLASS_ID AS "ownerClassId",
			F_QUERY_NAME AS "queryName",
			F_FILTER AS "filter",
			F_ORDER AS "order",
			F_TITLE AS "title",
			F_DESCRIPTION AS "description",
			F_NOTE AS "note",
			F__LAST_UPDATED_AT AS "_lastUpdatedAt"
		FROM
			T_QUERY
		WHERE
			F_OWNER_CLASS_ID = #{ content.classId }
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

</mapper>
