<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.vvorks.builder.server.mapper.ClassMapper">

	<insert id="insert" parameterType="ClassContent">
		INSERT INTO T_CLASS (
			F_CLASS_ID,
			F_OWNER_PROJECT_ID,
			F_CLASS_NAME,
			F_ORDER_EXPR,
			F_TITLE_EXPR,
			F_TITLE,
			F_DESCRIPTION,
			F_NOTE,
			F__LAST_UPDATED_AT
		) VALUES (
			#{ classId },
			#{ ownerProjectId },
			#{ className },
			#{ orderExpr },
			#{ titleExpr },
			#{ title },
			#{ description },
			#{ note },
			(strftime('%s', 'now') * 1000)
		)
	</insert>

	<update id="update" parameterType="ClassContent">
		UPDATE T_CLASS SET
			F_OWNER_PROJECT_ID = #{ ownerProjectId },
			F_CLASS_NAME = #{ className },
			F_ORDER_EXPR = #{ orderExpr },
			F_TITLE_EXPR = #{ titleExpr },
			F_TITLE = #{ title },
			F_DESCRIPTION = #{ description },
			F_NOTE = #{ note },
			F__LAST_UPDATED_AT = (strftime('%s', 'now') * 1000)
		WHERE
			F_CLASS_ID = #{ classId }
			AND
			F__LAST_UPDATED_AT = #{ _lastUpdatedAt }
	</update>

	<delete id="delete" parameterType="ClassContent">
		DELETE FROM T_CLASS
		WHERE
			F_CLASS_ID = #{ classId }
			AND
			F__LAST_UPDATED_AT = #{ _lastUpdatedAt }
	</delete>

	<select id="get" resultType="ClassContent">
		SELECT
			T1.F_CLASS_ID AS "classId",
			T1.F_OWNER_PROJECT_ID AS "ownerProjectId",
			T1.F_CLASS_NAME AS "className",
			T1.F_ORDER_EXPR AS "orderExpr",
			T1.F_TITLE_EXPR AS "titleExpr",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_TITLE AS "_title",
			T2.F_TITLE AS "owner_title"
		FROM
			T_CLASS T1
		LEFT JOIN T_PROJECT T2 ON
			T1.F_OWNER_PROJECT_ID = T2.F_PROJECT_ID
		WHERE
			T1.F_CLASS_ID = #{ classId }
	</select>

	<select id="listSummary" resultType="ClassSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_CLASS T1
	</select>

	<select id="listContent" resultType="ClassContent">
		SELECT
			T1.F_CLASS_ID AS "classId",
			T1.F_OWNER_PROJECT_ID AS "ownerProjectId",
			T1.F_CLASS_NAME AS "className",
			T1.F_ORDER_EXPR AS "orderExpr",
			T1.F_TITLE_EXPR AS "titleExpr",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_TITLE AS "_title",
			T2.F_TITLE AS "owner_title"
		FROM
			T_CLASS T1
		LEFT JOIN T_PROJECT T2 ON
			T1.F_OWNER_PROJECT_ID = T2.F_PROJECT_ID
		ORDER BY
			T1.F_CLASS_ID ASC
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="listSummaryIfNameIs" resultType="ClassSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_CLASS T1
		WHERE
			<![CDATA[
			T1.F_CLASS_NAME = #{name}
			]]>
	</select>

	<select id="listContentIfNameIs" resultType="ClassContent">
		SELECT
			T1.F_CLASS_ID AS "classId",
			T1.F_OWNER_PROJECT_ID AS "ownerProjectId",
			T1.F_CLASS_NAME AS "className",
			T1.F_ORDER_EXPR AS "orderExpr",
			T1.F_TITLE_EXPR AS "titleExpr",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_TITLE AS "_title",
			T2.F_TITLE AS "owner_title"
		FROM
			T_CLASS T1
		LEFT JOIN T_PROJECT T2 ON
			T1.F_OWNER_PROJECT_ID = T2.F_PROJECT_ID
		WHERE
			<![CDATA[
			T1.F_CLASS_NAME = #{name}
			]]>
		ORDER BY
			T1.F_CLASS_ID ASC
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="getOwner" resultType="ProjectContent">
		SELECT
			T1.F_PROJECT_ID AS "projectId",
			T1.F_PROJECT_NAME AS "projectName",
			T1.F_GRADLE_NAME AS "gradleName",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F_COPYRIGHTS AS "copyrights",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_TITLE AS "_title"
		FROM
			T_PROJECT T1
		WHERE
			T1.F_PROJECT_ID = #{ ownerProjectId }
	</select>

	<select id="listOwnerCandidateSummary" resultType="ProjectSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_PROJECT T1
		<where>
			<if test="hint != null">
				T1.F_TITLE LIKE '%' || #{hint} || '%'
			</if>
		</where>
	</select>

	<select id="listOwnerCandidateSubject" resultType="ProjectSubject">
		SELECT
			T1.F_PROJECT_ID AS "projectId",
			T1.F_TITLE AS "_title"
		FROM
			T_PROJECT T1
		<where>
			<if test="hint != null">
				T1.F_TITLE LIKE '%' || #{hint} || '%'
			</if>
		</where>
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="listFieldsSummary" resultType="FieldSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_FIELD T1
		WHERE
			F_OWNER_CLASS_ID = #{ content.classId }
	</select>

	<select id="listFieldsContent" resultType="FieldContent">
		SELECT
			T1.F_FIELD_ID AS "fieldId",
			T1.F_OWNER_CLASS_ID AS "ownerClassId",
			T1.F_FIELD_NAME AS "fieldName",
			T1.F_TYPE AS "type",
			T1.F_WIDTH AS "width",
			T1.F_SCALE AS "scale",
			T1.F_CREF_CLASS_ID AS "crefClassId",
			T1.F_EREF_ENUM_ID AS "erefEnumId",
			T1.F_FREF_FIELD_ID AS "frefFieldId",
			T1.F_PK AS "pk",
			T1.F_NULLABLE AS "nullable",
			T1.F_NEEDS_SUM AS "needsSum",
			T1.F_NEEDS_AVG AS "needsAvg",
			T1.F_NEEDS_MAX AS "needsMax",
			T1.F_NEEDS_MIN AS "needsMin",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_TITLE AS "_title",
			T2.F_TITLE AS "owner_title",
			T3.F_TITLE AS "cref_title",
			T4.F_TITLE AS "eref_title",
			T5.F_TITLE AS "fref_title",
			T6.F_VALUE_ID AS "type_title"
		FROM
			T_FIELD T1
		LEFT JOIN T_CLASS T2 ON
			T1.F_OWNER_CLASS_ID = T2.F_CLASS_ID
		LEFT JOIN T_CLASS T3 ON
			T1.F_CREF_CLASS_ID = T3.F_CLASS_ID
		LEFT JOIN T_ENUM T4 ON
			T1.F_EREF_ENUM_ID = T4.F_ENUM_ID
		LEFT JOIN T_FIELD T5 ON
			T1.F_FREF_FIELD_ID = T5.F_FIELD_ID
		LEFT JOIN T_ENUM_VALUE T6 ON
			T6.F_OWNER_ENUM_ID = 1 AND
			T1.F_TYPE = T6.F_VALUE_ID
		WHERE
			T1.F_OWNER_CLASS_ID = #{ content.classId }
		ORDER BY
			T1.F_FIELD_ID ASC
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="listFieldsSummaryIfNameIs" resultType="FieldSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_FIELD T1
		WHERE
			T1.F_OWNER_CLASS_ID = #{ content.classId }
			<![CDATA[
			AND T1.F_FIELD_NAME = #{name}
			]]>
	</select>

	<select id="listFieldsContentIfNameIs" resultType="FieldContent">
		SELECT
			T1.F_FIELD_ID AS "fieldId",
			T1.F_OWNER_CLASS_ID AS "ownerClassId",
			T1.F_FIELD_NAME AS "fieldName",
			T1.F_TYPE AS "type",
			T1.F_WIDTH AS "width",
			T1.F_SCALE AS "scale",
			T1.F_CREF_CLASS_ID AS "crefClassId",
			T1.F_EREF_ENUM_ID AS "erefEnumId",
			T1.F_FREF_FIELD_ID AS "frefFieldId",
			T1.F_PK AS "pk",
			T1.F_NULLABLE AS "nullable",
			T1.F_NEEDS_SUM AS "needsSum",
			T1.F_NEEDS_AVG AS "needsAvg",
			T1.F_NEEDS_MAX AS "needsMax",
			T1.F_NEEDS_MIN AS "needsMin",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_TITLE AS "_title",
			T2.F_TITLE AS "owner_title",
			T3.F_TITLE AS "cref_title",
			T4.F_TITLE AS "eref_title",
			T5.F_TITLE AS "fref_title",
			T6.F_VALUE_ID AS "type_title"
		FROM
			T_FIELD T1
		LEFT JOIN T_CLASS T2 ON
			T1.F_OWNER_CLASS_ID = T2.F_CLASS_ID
		LEFT JOIN T_CLASS T3 ON
			T1.F_CREF_CLASS_ID = T3.F_CLASS_ID
		LEFT JOIN T_ENUM T4 ON
			T1.F_EREF_ENUM_ID = T4.F_ENUM_ID
		LEFT JOIN T_FIELD T5 ON
			T1.F_FREF_FIELD_ID = T5.F_FIELD_ID
		LEFT JOIN T_ENUM_VALUE T6 ON
			T6.F_OWNER_ENUM_ID = 1 AND
			T1.F_TYPE = T6.F_VALUE_ID
		WHERE
			T1.F_OWNER_CLASS_ID = #{ content.classId }
			<![CDATA[
			AND T1.F_FIELD_NAME = #{name}
			]]>
		ORDER BY
			T1.F_FIELD_ID ASC
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>
	
	<select id="listQueriesSummary" resultType="QuerySummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_QUERY T1
		WHERE
			F_OWNER_CLASS_ID = #{ content.classId }
	</select>

	<select id="listQueriesContent" resultType="QueryContent">
		SELECT
			T1.F_QUERY_ID AS "queryId",
			T1.F_OWNER_CLASS_ID AS "ownerClassId",
			T1.F_QUERY_NAME AS "queryName",
			T1.F_FILTER AS "filter",
			T1.F_ORDER AS "order",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_TITLE AS "_title",
			T2.F_TITLE AS "owner_title"
		FROM
			T_QUERY T1
		LEFT JOIN T_CLASS T2 ON
			T1.F_OWNER_CLASS_ID = T2.F_CLASS_ID
		WHERE
			T1.F_OWNER_CLASS_ID = #{ content.classId }
		ORDER BY
			T1.F_QUERY_ID ASC
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

</mapper>
