<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.vvorks.builder.server.mapper.EnumValueMapper">

	<insert id="insert" parameterType="EnumValueContent">
		INSERT INTO T_ENUM_VALUE (
			F_VALUE_ID,
			F_OWNER_ENUM_ID,
			F_CODE,
			F_TITLE,
			F_DESCRIPTION,
			F_NOTE,
			F__LAST_UPDATED_AT
		) VALUES (
			#{ valueId },
			#{ ownerEnumId },
			#{ code },
			#{ title },
			#{ description },
			#{ note },
			#{ _lastUpdatedAt }
		)
	</insert>

	<update id="update" parameterType="EnumValueContent">
		UPDATE T_ENUM_VALUE SET
			F_CODE = #{ code },
			F_TITLE = #{ title },
			F_DESCRIPTION = #{ description },
			F_NOTE = #{ note },
			F__LAST_UPDATED_AT = #{ _lastUpdatedAt }
		WHERE
			F_VALUE_ID = #{ valueId } AND 
			F_OWNER_ENUM_ID = #{ ownerEnumId }
	</update>

	<delete id="delete" parameterType="EnumValueContent">
		DELETE FROM T_ENUM_VALUE
		WHERE
			F_VALUE_ID = #{ valueId } AND 
			F_OWNER_ENUM_ID = #{ ownerEnumId }
	</delete>

	<select id="get" resultType="EnumValueContent">
		SELECT
			F_VALUE_ID AS "valueId",
			F_OWNER_ENUM_ID AS "ownerEnumId",
			F_CODE AS "code",
			F_TITLE AS "title",
			F_DESCRIPTION AS "description",
			F_NOTE AS "note",
			F__LAST_UPDATED_AT AS "_lastUpdatedAt"
		FROM
			T_ENUM_VALUE
		WHERE
			F_VALUE_ID = #{ valueId } AND 
			F_OWNER_ENUM_ID = #{ ownerEnumId }
	</select>

	<select id="listSummary" resultType="EnumValueSummary">
		SELECT
			MAX(F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_ENUM_VALUE
	</select>

	<select id="listContent" resultType="EnumValueContent">
		SELECT
			F_VALUE_ID AS "valueId",
			F_OWNER_ENUM_ID AS "ownerEnumId",
			F_CODE AS "code",
			F_TITLE AS "title",
			F_DESCRIPTION AS "description",
			F_NOTE AS "note",
			F__LAST_UPDATED_AT AS "_lastUpdatedAt"
		FROM
			T_ENUM_VALUE
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="getOwner" resultType="EnumContent">
		SELECT
			F_ENUM_ID AS "enumId",
			F_OWNER_PROJECT_ID AS "ownerProjectId",
			F_ENUM_NAME AS "enumName",
			F_ENCODE_STRING AS "encodeString",
			F_TITLE AS "title",
			F_DESCRIPTION AS "description",
			F_NOTE AS "note",
			F__LAST_UPDATED_AT AS "_lastUpdatedAt"
		FROM
			T_ENUM
		WHERE
			F_ENUM_ID = #{ ownerEnumId }
	</select>

</mapper>
