<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Apache License v2.0 -->
<mapper namespace="com.github.vvorks.builder.server.mapper.EnumValueMapper">

	<insert id="insert" parameterType="EnumValueContent">
		INSERT INTO T_ENUM_VALUE (
			F_OWNER_ENUM_ID,
			F_VALUE_ID,
			F_CODE,
			F_TITLE,
			F_DESCRIPTION,
			F_NOTE,
			F__LAST_UPDATED_AT
		) VALUES (
			#{ ownerEnumId },
			#{ valueId },
			#{ code },
			#{ title },
			#{ description },
			#{ note },
			CAST((julianday('now') - 2440587.5) * 86400000 AS INTEGER)
		)
	</insert>

	<update id="update" parameterType="EnumValueContent">
		UPDATE T_ENUM_VALUE SET
			F_CODE = #{ code },
			F_TITLE = #{ title },
			F_DESCRIPTION = #{ description },
			F_NOTE = #{ note },
			F__LAST_UPDATED_AT = CAST((julianday('now') - 2440587.5) * 86400000 AS INTEGER)
		WHERE
			F_OWNER_ENUM_ID = #{ ownerEnumId } AND 
			F_VALUE_ID = #{ valueId }
			AND
			F__LAST_UPDATED_AT = #{ _lastUpdatedAt }
	</update>

	<delete id="delete" parameterType="EnumValueContent">
		DELETE FROM T_ENUM_VALUE
		WHERE
			F_OWNER_ENUM_ID = #{ ownerEnumId } AND 
			F_VALUE_ID = #{ valueId }
			AND
			F__LAST_UPDATED_AT = #{ _lastUpdatedAt }
	</delete>

	<select id="get" resultType="EnumValueContent">
		SELECT
			T1.F_OWNER_ENUM_ID AS "ownerEnumId",
			T1.F_VALUE_ID AS "valueId",
			T1.F_CODE AS "code",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_VALUE_ID AS "_title",
			T2.F_ENUM_NAME || '(' || T2.F_TITLE || ')' AS "owner_title"
		FROM
			T_ENUM_VALUE T1
		LEFT JOIN T_ENUM T2 ON
			T1.F_OWNER_ENUM_ID = T2.F_ENUM_ID
		WHERE
			T1.F_OWNER_ENUM_ID = #{ ownerEnumId } AND 
			T1.F_VALUE_ID = #{ valueId }
	</select>

	<select id="getTopicPath" resultType="map">
		SELECT
			"EnumValue" AS "P1__type",
			T1.F_OWNER_ENUM_ID AS "P1_ownerEnumId",
			T1.F_VALUE_ID AS "P1_valueId",
			T1.F_VALUE_ID AS "P1__title",
			"Enum" AS "P2__type",
			T2.F_ENUM_ID AS "P2_enumId",
			T2.F_ENUM_NAME || '(' || T2.F_TITLE || ')' AS "P2__title",
			"Project" AS "P3__type",
			T3.F_PROJECT_ID AS "P3_projectId",
			T3.F_PROJECT_NAME || '(' || T3.F_TITLE || ')' AS "P3__title"
		FROM
			T_ENUM_VALUE T1
		LEFT JOIN T_ENUM T2 ON
			T1.F_OWNER_ENUM_ID = T2.F_ENUM_ID
		LEFT JOIN T_PROJECT T3 ON
			T2.F_OWNER_PROJECT_ID = T3.F_PROJECT_ID
		WHERE
			T1.F_OWNER_ENUM_ID = #{ ownerEnumId } AND 
			T1.F_VALUE_ID = #{ valueId }
		ORDER BY
			T1.F_CODE ASC
	</select>

	<select id="listSummary" resultType="EnumValueSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_ENUM_VALUE T1
	</select>

	<select id="listContent" resultType="EnumValueContent">
		SELECT
			T1.F_OWNER_ENUM_ID AS "ownerEnumId",
			T1.F_VALUE_ID AS "valueId",
			T1.F_CODE AS "code",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_VALUE_ID AS "_title",
			T2.F_ENUM_NAME || '(' || T2.F_TITLE || ')' AS "owner_title"
		FROM
			T_ENUM_VALUE T1
		LEFT JOIN T_ENUM T2 ON
			T1.F_OWNER_ENUM_ID = T2.F_ENUM_ID
		ORDER BY
			T1.F_CODE ASC
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="getOwner" resultType="EnumContent">
		SELECT
			T1.F_ENUM_ID AS "enumId",
			T1.F_OWNER_PROJECT_ID AS "ownerProjectId",
			T1.F_ENUM_NAME AS "enumName",
			T1.F_ENCODE_STRING AS "encodeString",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_ENUM_NAME || '(' || T1.F_TITLE || ')' AS "_title",
			T2.F_PROJECT_NAME || '(' || T2.F_TITLE || ')' AS "owner_title"
		FROM
			T_ENUM T1
		LEFT JOIN T_PROJECT T2 ON
			T1.F_OWNER_PROJECT_ID = T2.F_PROJECT_ID
		WHERE
			T1.F_ENUM_ID = #{ ownerEnumId }
	</select>

	<select id="listOwnerCandidateSummary" resultType="EnumSummary">
		SELECT
			MAX(T1.F_ENUM_ID) AS "maxEnumId",
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_ENUM T1
		<where>
			<if test="hint != null">
				T1.F_ENUM_NAME || '(' || T1.F_TITLE || ')' LIKE '%' || #{hint} || '%'
			</if>
		</where>
	</select>

	<select id="listOwnerCandidateSubject" resultType="EnumSubject">
		SELECT
			T1.F_ENUM_ID AS "enumId",
			T1.F_ENUM_NAME || '(' || T1.F_TITLE || ')' AS "_title"
		FROM
			T_ENUM T1
		<where>
			<if test="hint != null">
				T1.F_ENUM_NAME || '(' || T1.F_TITLE || ')' LIKE '%' || #{hint} || '%'
			</if>
		</where>
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="listI18nsSummary" resultType="EnumValueI18nSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_ENUM_VALUE_I18N T1
		WHERE
			F_OWNER_OWNER_ENUM_ID = #{ content.ownerEnumId } AND 
			F_OWNER_VALUE_ID = #{ content.valueId }
	</select>

	<select id="listI18nsContent" resultType="EnumValueI18nContent">
		SELECT
			T1.F_OWNER_OWNER_ENUM_ID AS "ownerOwnerEnumId",
			T1.F_OWNER_VALUE_ID AS "ownerValueId",
			T1.F_TARGET_LOCALE_ID AS "targetLocaleId",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T2.F_VALUE_ID AS "_title",
			T2.F_VALUE_ID AS "owner_title",
			T3.F_TITLE AS "target_title"
		FROM
			T_ENUM_VALUE_I18N T1
		LEFT JOIN T_ENUM_VALUE T2 ON
			T1.F_OWNER_OWNER_ENUM_ID = T2.F_OWNER_ENUM_ID AND 
			T1.F_OWNER_VALUE_ID = T2.F_VALUE_ID
		LEFT JOIN T_LOCALE T3 ON
			T1.F_TARGET_LOCALE_ID = T3.F_LOCALE_ID
		WHERE
			T1.F_OWNER_OWNER_ENUM_ID = #{ content.ownerEnumId } AND 
			T1.F_OWNER_VALUE_ID = #{ content.valueId }
		ORDER BY
			T2.F_CODE ASC
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

</mapper>
