<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Apache License v2.0 -->
<mapper namespace="com.github.vvorks.builder.server.mapper.EnumValueI18nMapper">

	<insert id="insert" parameterType="EnumValueI18nContent">
		INSERT INTO T_ENUM_VALUE_I18N (
			F_OWNER_OWNER_ENUM_ID,
			F_OWNER_VALUE_ID,
			F_TARGET_LOCALE_ID,
			F_TITLE,
			F_DESCRIPTION,
			F__LAST_UPDATED_AT
		) VALUES (
			#{ ownerOwnerEnumId },
			#{ ownerValueId },
			#{ targetLocaleId },
			#{ title },
			#{ description },
			CAST((julianday('now') - 2440587.5) * 86400000 AS INTEGER)
		)
	</insert>

	<update id="update" parameterType="EnumValueI18nContent">
		UPDATE T_ENUM_VALUE_I18N SET
			F_TITLE = #{ title },
			F_DESCRIPTION = #{ description },
			F__LAST_UPDATED_AT = CAST((julianday('now') - 2440587.5) * 86400000 AS INTEGER)
		WHERE
			F_OWNER_OWNER_ENUM_ID = #{ ownerOwnerEnumId } AND 
			F_OWNER_VALUE_ID = #{ ownerValueId } AND 
			F_TARGET_LOCALE_ID = #{ targetLocaleId }
			AND
			F__LAST_UPDATED_AT = #{ _lastUpdatedAt }
	</update>

	<delete id="delete" parameterType="EnumValueI18nContent">
		DELETE FROM T_ENUM_VALUE_I18N
		WHERE
			F_OWNER_OWNER_ENUM_ID = #{ ownerOwnerEnumId } AND 
			F_OWNER_VALUE_ID = #{ ownerValueId } AND 
			F_TARGET_LOCALE_ID = #{ targetLocaleId }
			AND
			F__LAST_UPDATED_AT = #{ _lastUpdatedAt }
	</delete>

	<select id="get" resultType="EnumValueI18nContent">
		SELECT
			T1.F_OWNER_OWNER_ENUM_ID AS "ownerOwnerEnumId",
			T1.F_OWNER_VALUE_ID AS "ownerValueId",
			T1.F_TARGET_LOCALE_ID AS "targetLocaleId",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T2.F_VALUE_ID AS "_title",
			T2.F_VALUE_ID AS "owner_title",
			T3.F_TITLE AS "target_title"
		FROM
			T_ENUM_VALUE_I18N T1
		LEFT JOIN T_ENUM_VALUE T2 ON
			T1.F_OWNER_OWNER_ENUM_ID = T2.F_OWNER_ENUM_ID AND 
			T1.F_OWNER_VALUE_ID = T2.F_VALUE_ID
		LEFT JOIN T_LOCALE T3 ON
			T1.F_TARGET_LOCALE_ID = T3.F_LOCALE_ID
		WHERE
			T1.F_OWNER_OWNER_ENUM_ID = #{ ownerOwnerEnumId } AND 
			T1.F_OWNER_VALUE_ID = #{ ownerValueId } AND 
			T1.F_TARGET_LOCALE_ID = #{ targetLocaleId }
	</select>

	<select id="getTopicPath" resultType="map">
		SELECT
			"EnumValueI18n" AS "P1__type",
			T1.F_OWNER_OWNER_ENUM_ID AS "P1_ownerOwnerEnumId",
			T1.F_OWNER_VALUE_ID AS "P1_ownerValueId",
			T1.F_TARGET_LOCALE_ID AS "P1_targetLocaleId",
			T2.F_VALUE_ID AS "P1__title",
			"EnumValue" AS "P2__type",
			T2.F_OWNER_ENUM_ID AS "P2_ownerEnumId",
			T2.F_VALUE_ID AS "P2_valueId",
			T2.F_VALUE_ID AS "P2__title",
			"Enum" AS "P3__type",
			T3.F_ENUM_ID AS "P3_enumId",
			T3.F_ENUM_NAME || '(' || T3.F_TITLE || ')' AS "P3__title",
			"Project" AS "P4__type",
			T4.F_PROJECT_ID AS "P4_projectId",
			T4.F_PROJECT_NAME || '(' || T4.F_TITLE || ')' AS "P4__title"
		FROM
			T_ENUM_VALUE_I18N T1
		LEFT JOIN T_ENUM_VALUE T2 ON
			T1.F_OWNER_OWNER_ENUM_ID = T2.F_OWNER_ENUM_ID AND 
			T1.F_OWNER_VALUE_ID = T2.F_VALUE_ID
		LEFT JOIN T_ENUM T3 ON
			T2.F_OWNER_ENUM_ID = T3.F_ENUM_ID
		LEFT JOIN T_PROJECT T4 ON
			T3.F_OWNER_PROJECT_ID = T4.F_PROJECT_ID
		WHERE
			T1.F_OWNER_OWNER_ENUM_ID = #{ ownerOwnerEnumId } AND 
			T1.F_OWNER_VALUE_ID = #{ ownerValueId } AND 
			T1.F_TARGET_LOCALE_ID = #{ targetLocaleId }
		ORDER BY
			T2.F_CODE ASC
	</select>

	<select id="listSummary" resultType="EnumValueI18nSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_ENUM_VALUE_I18N T1
	</select>

	<select id="listContent" resultType="EnumValueI18nContent">
		SELECT
			T1.F_OWNER_OWNER_ENUM_ID AS "ownerOwnerEnumId",
			T1.F_OWNER_VALUE_ID AS "ownerValueId",
			T1.F_TARGET_LOCALE_ID AS "targetLocaleId",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T2.F_VALUE_ID AS "_title",
			T2.F_VALUE_ID AS "owner_title",
			T3.F_TITLE AS "target_title"
		FROM
			T_ENUM_VALUE_I18N T1
		LEFT JOIN T_ENUM_VALUE T2 ON
			T1.F_OWNER_OWNER_ENUM_ID = T2.F_OWNER_ENUM_ID AND 
			T1.F_OWNER_VALUE_ID = T2.F_VALUE_ID
		LEFT JOIN T_LOCALE T3 ON
			T1.F_TARGET_LOCALE_ID = T3.F_LOCALE_ID
		ORDER BY
			T2.F_CODE ASC
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="getOwner" resultType="EnumValueContent">
		SELECT
			T1.F_OWNER_ENUM_ID AS "ownerEnumId",
			T1.F_VALUE_ID AS "valueId",
			T1.F_CODE AS "code",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_VALUE_ID AS "_title",
			T2.F_ENUM_NAME || '(' || T2.F_TITLE || ')' AS "owner_title"
		FROM
			T_ENUM_VALUE T1
		LEFT JOIN T_ENUM T2 ON
			T1.F_OWNER_ENUM_ID = T2.F_ENUM_ID
		WHERE
			T1.F_OWNER_ENUM_ID = #{ ownerOwnerEnumId } AND 
			T1.F_VALUE_ID = #{ ownerValueId }
	</select>

	<select id="listOwnerCandidateSummary" resultType="EnumValueSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_ENUM_VALUE T1
		<where>
			<if test="hint != null">
				T1.F_VALUE_ID LIKE '%' || #{hint} || '%'
			</if>
		</where>
	</select>

	<select id="listOwnerCandidateSubject" resultType="EnumValueSubject">
		SELECT
			T1.F_OWNER_ENUM_ID AS "ownerEnumId",
			T1.F_VALUE_ID AS "valueId",
			T1.F_VALUE_ID AS "_title"
		FROM
			T_ENUM_VALUE T1
		<where>
			<if test="hint != null">
				T1.F_VALUE_ID LIKE '%' || #{hint} || '%'
			</if>
		</where>
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>
	
	<select id="getTarget" resultType="LocaleContent">
		SELECT
			T1.F_LOCALE_ID AS "localeId",
			T1.F_OWNER_PROJECT_ID AS "ownerProjectId",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_TITLE AS "_title",
			T2.F_PROJECT_NAME || '(' || T2.F_TITLE || ')' AS "owner_title"
		FROM
			T_LOCALE T1
		LEFT JOIN T_PROJECT T2 ON
			T1.F_OWNER_PROJECT_ID = T2.F_PROJECT_ID
		WHERE
			T1.F_LOCALE_ID = #{ targetLocaleId }
	</select>

	<select id="listTargetCandidateSummary" resultType="LocaleSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_LOCALE T1
		<where>
			<if test="hint != null">
				T1.F_TITLE LIKE '%' || #{hint} || '%'
			</if>
		</where>
	</select>

	<select id="listTargetCandidateSubject" resultType="LocaleSubject">
		SELECT
			T1.F_LOCALE_ID AS "localeId",
			T1.F_TITLE AS "_title"
		FROM
			T_LOCALE T1
		<where>
			<if test="hint != null">
				T1.F_TITLE LIKE '%' || #{hint} || '%'
			</if>
		</where>
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

</mapper>
