<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.vvorks.builder.server.mapper.EnumMapper">

	<insert id="insert" parameterType="EnumDto">
		INSERT INTO T_ENUM (
			F_ENUM_ID,
			F_OWNER_PROJECT_ID,
			F_ENUM_NAME,
			F_ENCODE_STRING,
			F_TITLE,
			F_DESCRIPTION,
			F_NOTE
		) VALUES (
			#{ enumId },
			#{ ownerProjectId },
			#{ enumName },
			#{ encodeString },
			#{ title },
			#{ description },
			#{ note }
		)
	</insert>

	<update id="update" parameterType="EnumDto">
		UPDATE T_ENUM SET
			F_OWNER_PROJECT_ID = #{ ownerProjectId },
			F_ENUM_NAME = #{ enumName },
			F_ENCODE_STRING = #{ encodeString },
			F_TITLE = #{ title },
			F_DESCRIPTION = #{ description },
			F_NOTE = #{ note }
		WHERE
			F_ENUM_ID = #{ enumId }
	</update>

	<delete id="delete" parameterType="EnumDto">
		DELETE FROM T_ENUM
		WHERE
			F_ENUM_ID = #{ enumId }
	</delete>

	<select id="get" resultType="EnumDto">
		SELECT
			F_ENUM_ID AS "enumId",
			F_OWNER_PROJECT_ID AS "ownerProjectId",
			F_ENUM_NAME AS "enumName",
			F_ENCODE_STRING AS "encodeString",
			F_TITLE AS "title",
			F_DESCRIPTION AS "description",
			F_NOTE AS "note"
		FROM
			T_ENUM
		WHERE
			F_ENUM_ID = #{ enumId }
	</select>

	<select id="list" resultType="EnumDto">
		SELECT
			F_ENUM_ID AS "enumId",
			F_OWNER_PROJECT_ID AS "ownerProjectId",
			F_ENUM_NAME AS "enumName",
			F_ENCODE_STRING AS "encodeString",
			F_TITLE AS "title",
			F_DESCRIPTION AS "description",
			F_NOTE AS "note"
		FROM
			T_ENUM
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="find" resultType="EnumDto">
		SELECT
			F_ENUM_ID AS "enumId",
			F_OWNER_PROJECT_ID AS "ownerProjectId",
			F_ENUM_NAME AS "enumName",
			F_ENCODE_STRING AS "encodeString",
			F_TITLE AS "title",
			F_DESCRIPTION AS "description",
			F_NOTE AS "note"
		FROM
			T_ENUM
		<where>
			<if test="ownerProjectId != null">
				AND F_OWNER_PROJECT_ID = #{ ownerProjectId }
			</if>
			<if test="enumName != null">
				AND F_ENUM_NAME = #{ enumName }
			</if>
			<if test="encodeString != null">
				AND F_ENCODE_STRING = #{ encodeString }
			</if>
			<if test="title != null">
				AND F_TITLE = #{ title }
			</if>
		</where>
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="getOwner" resultType="ProjectDto">
		SELECT
			F_PROJECT_ID AS "projectId",
			F_PROJECT_NAME AS "projectName",
			F_TITLE AS "title",
			F_DESCRIPTION AS "description",
			F_NOTE AS "note",
			F_COPYRIGHTS AS "copyrights"
		FROM
			T_PROJECT
		WHERE
			F_PROJECT_ID = #{ ownerProjectId }
	</select>

	<select id="listValues" resultType="EnumValueDto">
		SELECT
			F_VALUE_ID AS "valueId",
			F_OWNER_ENUM_ID AS "ownerEnumId",
			F_CODE AS "code",
			F_TITLE AS "title",
			F_DESCRIPTION AS "description",
			F_NOTE AS "note"
		FROM
			T_ENUM_VALUE
		WHERE
			F_OWNER_ENUM_ID = #{ dto.enumId }
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="findValues" resultType="EnumValueDto">
		SELECT
			F_VALUE_ID AS "valueId",
			F_OWNER_ENUM_ID AS "ownerEnumId",
			F_CODE AS "code",
			F_TITLE AS "title",
			F_DESCRIPTION AS "description",
			F_NOTE AS "note"
		FROM
			T_ENUM_VALUE
		WHERE
			F_OWNER_ENUM_ID = #{ dto.enumId }
			<if test="code != null">
				AND F_CODE = #{ code }
			</if>
			<if test="title != null">
				AND F_TITLE = #{ title }
			</if>
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

</mapper>
