<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Apache License v2.0 -->
<mapper namespace="com.github.vvorks.builder.server.mapper.FieldMapper">

	<insert id="insert" parameterType="FieldContent">
		INSERT INTO T_FIELD (
			F_FIELD_ID,
			F_OWNER_CLASS_ID,
			F_FIELD_NAME,
			F_TYPE,
			F_WIDTH,
			F_SCALE,
			F_CREF_CLASS_ID,
			F_EREF_ENUM_ID,
			F_FREF_FIELD_ID,
			F_PK,
			F_NULLABLE,
			F_NEEDS_SUM,
			F_NEEDS_AVG,
			F_NEEDS_MAX,
			F_NEEDS_MIN,
			F_IS_CONTAINER,
			F_FORMAT,
			F_TITLE,
			F_DESCRIPTION,
			F_NOTE,
			F__LAST_UPDATED_AT
		) VALUES (
			#{ fieldId },
			#{ ownerClassId },
			#{ fieldName },
			#{ type },
			#{ width },
			#{ scale },
			#{ crefClassId },
			#{ erefEnumId },
			#{ frefFieldId },
			#{ pk },
			#{ nullable },
			#{ needsSum },
			#{ needsAvg },
			#{ needsMax },
			#{ needsMin },
			#{ isContainer },
			#{ format },
			#{ title },
			#{ description },
			#{ note },
			(strftime('%s', 'now') * 1000)
		)
	</insert>

	<update id="update" parameterType="FieldContent">
		UPDATE T_FIELD SET
			F_OWNER_CLASS_ID = #{ ownerClassId },
			F_FIELD_NAME = #{ fieldName },
			F_TYPE = #{ type },
			F_WIDTH = #{ width },
			F_SCALE = #{ scale },
			F_CREF_CLASS_ID = #{ crefClassId },
			F_EREF_ENUM_ID = #{ erefEnumId },
			F_FREF_FIELD_ID = #{ frefFieldId },
			F_PK = #{ pk },
			F_NULLABLE = #{ nullable },
			F_NEEDS_SUM = #{ needsSum },
			F_NEEDS_AVG = #{ needsAvg },
			F_NEEDS_MAX = #{ needsMax },
			F_NEEDS_MIN = #{ needsMin },
			F_IS_CONTAINER = #{ isContainer },
			F_FORMAT = #{ format },
			F_TITLE = #{ title },
			F_DESCRIPTION = #{ description },
			F_NOTE = #{ note },
			F__LAST_UPDATED_AT = (strftime('%s', 'now') * 1000)
		WHERE
			F_FIELD_ID = #{ fieldId }
			AND
			F__LAST_UPDATED_AT = #{ _lastUpdatedAt }
	</update>

	<delete id="delete" parameterType="FieldContent">
		DELETE FROM T_FIELD
		WHERE
			F_FIELD_ID = #{ fieldId }
			AND
			F__LAST_UPDATED_AT = #{ _lastUpdatedAt }
	</delete>

	<select id="get" resultType="FieldContent">
		SELECT
			T1.F_FIELD_ID AS "fieldId",
			T1.F_OWNER_CLASS_ID AS "ownerClassId",
			T1.F_FIELD_NAME AS "fieldName",
			T1.F_TYPE AS "type",
			T1.F_WIDTH AS "width",
			T1.F_SCALE AS "scale",
			T1.F_CREF_CLASS_ID AS "crefClassId",
			T1.F_EREF_ENUM_ID AS "erefEnumId",
			T1.F_FREF_FIELD_ID AS "frefFieldId",
			T1.F_PK AS "pk",
			T1.F_NULLABLE AS "nullable",
			T1.F_NEEDS_SUM AS "needsSum",
			T1.F_NEEDS_AVG AS "needsAvg",
			T1.F_NEEDS_MAX AS "needsMax",
			T1.F_NEEDS_MIN AS "needsMin",
			T1.F_IS_CONTAINER AS "isContainer",
			T1.F_FORMAT AS "format",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T2.F_CLASS_NAME || '/' || T1.F_FIELD_NAME AS "_title",
			T2.F_CLASS_NAME || '(' || T2.F_TITLE || ')' AS "owner_title",
			T3.F_CLASS_NAME || '(' || T3.F_TITLE || ')' AS "cref_title",
			T4.F_ENUM_NAME || '(' || T4.F_TITLE || ')' AS "eref_title",
			T6.F_CLASS_NAME || '/' || T5.F_FIELD_NAME AS "fref_title",
			T7.F_VALUE_ID AS "type_title"
		FROM
			T_FIELD T1
		LEFT JOIN T_CLASS T2 ON
			T1.F_OWNER_CLASS_ID = T2.F_CLASS_ID
		LEFT JOIN T_CLASS T3 ON
			T1.F_CREF_CLASS_ID = T3.F_CLASS_ID
		LEFT JOIN T_ENUM T4 ON
			T1.F_EREF_ENUM_ID = T4.F_ENUM_ID
		LEFT JOIN T_FIELD T5 ON
			T1.F_FREF_FIELD_ID = T5.F_FIELD_ID
		LEFT JOIN T_CLASS T6 ON
			T5.F_OWNER_CLASS_ID = T6.F_CLASS_ID
		LEFT JOIN T_ENUM_VALUE T7 ON
			T7.F_OWNER_ENUM_ID = 1 AND
			T1.F_TYPE = T7.F_VALUE_ID
		WHERE
			T1.F_FIELD_ID = #{ fieldId }
	</select>

	<select id="listSummary" resultType="FieldSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_FIELD T1
	</select>

	<select id="listContent" resultType="FieldContent">
		SELECT
			T1.F_FIELD_ID AS "fieldId",
			T1.F_OWNER_CLASS_ID AS "ownerClassId",
			T1.F_FIELD_NAME AS "fieldName",
			T1.F_TYPE AS "type",
			T1.F_WIDTH AS "width",
			T1.F_SCALE AS "scale",
			T1.F_CREF_CLASS_ID AS "crefClassId",
			T1.F_EREF_ENUM_ID AS "erefEnumId",
			T1.F_FREF_FIELD_ID AS "frefFieldId",
			T1.F_PK AS "pk",
			T1.F_NULLABLE AS "nullable",
			T1.F_NEEDS_SUM AS "needsSum",
			T1.F_NEEDS_AVG AS "needsAvg",
			T1.F_NEEDS_MAX AS "needsMax",
			T1.F_NEEDS_MIN AS "needsMin",
			T1.F_IS_CONTAINER AS "isContainer",
			T1.F_FORMAT AS "format",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T2.F_CLASS_NAME || '/' || T1.F_FIELD_NAME AS "_title",
			T2.F_CLASS_NAME || '(' || T2.F_TITLE || ')' AS "owner_title",
			T3.F_CLASS_NAME || '(' || T3.F_TITLE || ')' AS "cref_title",
			T4.F_ENUM_NAME || '(' || T4.F_TITLE || ')' AS "eref_title",
			T6.F_CLASS_NAME || '/' || T5.F_FIELD_NAME AS "fref_title",
			T7.F_VALUE_ID AS "type_title"
		FROM
			T_FIELD T1
		LEFT JOIN T_CLASS T2 ON
			T1.F_OWNER_CLASS_ID = T2.F_CLASS_ID
		LEFT JOIN T_CLASS T3 ON
			T1.F_CREF_CLASS_ID = T3.F_CLASS_ID
		LEFT JOIN T_ENUM T4 ON
			T1.F_EREF_ENUM_ID = T4.F_ENUM_ID
		LEFT JOIN T_FIELD T5 ON
			T1.F_FREF_FIELD_ID = T5.F_FIELD_ID
		LEFT JOIN T_CLASS T6 ON
			T5.F_OWNER_CLASS_ID = T6.F_CLASS_ID
		LEFT JOIN T_ENUM_VALUE T7 ON
			T7.F_OWNER_ENUM_ID = 1 AND
			T1.F_TYPE = T7.F_VALUE_ID
		ORDER BY
			T1.F_FIELD_ID ASC
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="listSummaryIfNameIs" resultType="FieldSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_FIELD T1
		WHERE
			<![CDATA[
			T1.F_FIELD_NAME = #{name}
			]]>
	</select>

	<select id="listContentIfNameIs" resultType="FieldContent">
		SELECT
			T1.F_FIELD_ID AS "fieldId",
			T1.F_OWNER_CLASS_ID AS "ownerClassId",
			T1.F_FIELD_NAME AS "fieldName",
			T1.F_TYPE AS "type",
			T1.F_WIDTH AS "width",
			T1.F_SCALE AS "scale",
			T1.F_CREF_CLASS_ID AS "crefClassId",
			T1.F_EREF_ENUM_ID AS "erefEnumId",
			T1.F_FREF_FIELD_ID AS "frefFieldId",
			T1.F_PK AS "pk",
			T1.F_NULLABLE AS "nullable",
			T1.F_NEEDS_SUM AS "needsSum",
			T1.F_NEEDS_AVG AS "needsAvg",
			T1.F_NEEDS_MAX AS "needsMax",
			T1.F_NEEDS_MIN AS "needsMin",
			T1.F_IS_CONTAINER AS "isContainer",
			T1.F_FORMAT AS "format",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T2.F_CLASS_NAME || '/' || T1.F_FIELD_NAME AS "_title",
			T2.F_CLASS_NAME || '(' || T2.F_TITLE || ')' AS "owner_title",
			T3.F_CLASS_NAME || '(' || T3.F_TITLE || ')' AS "cref_title",
			T4.F_ENUM_NAME || '(' || T4.F_TITLE || ')' AS "eref_title",
			T6.F_CLASS_NAME || '/' || T5.F_FIELD_NAME AS "fref_title",
			T7.F_VALUE_ID AS "type_title"
		FROM
			T_FIELD T1
		LEFT JOIN T_CLASS T2 ON
			T1.F_OWNER_CLASS_ID = T2.F_CLASS_ID
		LEFT JOIN T_CLASS T3 ON
			T1.F_CREF_CLASS_ID = T3.F_CLASS_ID
		LEFT JOIN T_ENUM T4 ON
			T1.F_EREF_ENUM_ID = T4.F_ENUM_ID
		LEFT JOIN T_FIELD T5 ON
			T1.F_FREF_FIELD_ID = T5.F_FIELD_ID
		LEFT JOIN T_CLASS T6 ON
			T5.F_OWNER_CLASS_ID = T6.F_CLASS_ID
		LEFT JOIN T_ENUM_VALUE T7 ON
			T7.F_OWNER_ENUM_ID = 1 AND
			T1.F_TYPE = T7.F_VALUE_ID
		WHERE
			<![CDATA[
			T1.F_FIELD_NAME = #{name}
			]]>
		ORDER BY
			T1.F_FIELD_ID ASC
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="getOwner" resultType="ClassContent">
		SELECT
			T1.F_CLASS_ID AS "classId",
			T1.F_OWNER_PROJECT_ID AS "ownerProjectId",
			T1.F_CLASS_NAME AS "className",
			T1.F_ORDER_EXPR AS "orderExpr",
			T1.F_TITLE_EXPR AS "titleExpr",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_CLASS_NAME || '(' || T1.F_TITLE || ')' AS "_title",
			T2.F_PROJECT_NAME || '(' || T2.F_TITLE || ')' AS "owner_title"
		FROM
			T_CLASS T1
		LEFT JOIN T_PROJECT T2 ON
			T1.F_OWNER_PROJECT_ID = T2.F_PROJECT_ID
		WHERE
			T1.F_CLASS_ID = #{ ownerClassId }
	</select>

	<select id="listOwnerCandidateSummary" resultType="ClassSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_CLASS T1
		<where>
			<if test="hint != null">
				T1.F_CLASS_NAME || '(' || T1.F_TITLE || ')' LIKE '%' || #{hint} || '%'
			</if>
		</where>
	</select>

	<select id="listOwnerCandidateSubject" resultType="ClassSubject">
		SELECT
			T1.F_CLASS_ID AS "classId",
			T1.F_CLASS_NAME || '(' || T1.F_TITLE || ')' AS "_title"
		FROM
			T_CLASS T1
		<where>
			<if test="hint != null">
				T1.F_CLASS_NAME || '(' || T1.F_TITLE || ')' LIKE '%' || #{hint} || '%'
			</if>
		</where>
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>
	
	<select id="getCref" resultType="ClassContent">
		SELECT
			T1.F_CLASS_ID AS "classId",
			T1.F_OWNER_PROJECT_ID AS "ownerProjectId",
			T1.F_CLASS_NAME AS "className",
			T1.F_ORDER_EXPR AS "orderExpr",
			T1.F_TITLE_EXPR AS "titleExpr",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_CLASS_NAME || '(' || T1.F_TITLE || ')' AS "_title",
			T2.F_PROJECT_NAME || '(' || T2.F_TITLE || ')' AS "owner_title"
		FROM
			T_CLASS T1
		LEFT JOIN T_PROJECT T2 ON
			T1.F_OWNER_PROJECT_ID = T2.F_PROJECT_ID
		WHERE
			T1.F_CLASS_ID = #{ crefClassId }
	</select>

	<select id="listCrefCandidateSummary" resultType="ClassSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_CLASS T1
		<where>
			<if test="hint != null">
				T1.F_CLASS_NAME || '(' || T1.F_TITLE || ')' LIKE '%' || #{hint} || '%'
			</if>
		</where>
	</select>

	<select id="listCrefCandidateSubject" resultType="ClassSubject">
		SELECT
			T1.F_CLASS_ID AS "classId",
			T1.F_CLASS_NAME || '(' || T1.F_TITLE || ')' AS "_title"
		FROM
			T_CLASS T1
		<where>
			<if test="hint != null">
				T1.F_CLASS_NAME || '(' || T1.F_TITLE || ')' LIKE '%' || #{hint} || '%'
			</if>
		</where>
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>
	
	<select id="getEref" resultType="EnumContent">
		SELECT
			T1.F_ENUM_ID AS "enumId",
			T1.F_OWNER_PROJECT_ID AS "ownerProjectId",
			T1.F_ENUM_NAME AS "enumName",
			T1.F_ENCODE_STRING AS "encodeString",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_ENUM_NAME || '(' || T1.F_TITLE || ')' AS "_title",
			T2.F_PROJECT_NAME || '(' || T2.F_TITLE || ')' AS "owner_title"
		FROM
			T_ENUM T1
		LEFT JOIN T_PROJECT T2 ON
			T1.F_OWNER_PROJECT_ID = T2.F_PROJECT_ID
		WHERE
			T1.F_ENUM_ID = #{ erefEnumId }
	</select>

	<select id="listErefCandidateSummary" resultType="EnumSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_ENUM T1
		<where>
			<if test="hint != null">
				T1.F_ENUM_NAME || '(' || T1.F_TITLE || ')' LIKE '%' || #{hint} || '%'
			</if>
		</where>
	</select>

	<select id="listErefCandidateSubject" resultType="EnumSubject">
		SELECT
			T1.F_ENUM_ID AS "enumId",
			T1.F_ENUM_NAME || '(' || T1.F_TITLE || ')' AS "_title"
		FROM
			T_ENUM T1
		<where>
			<if test="hint != null">
				T1.F_ENUM_NAME || '(' || T1.F_TITLE || ')' LIKE '%' || #{hint} || '%'
			</if>
		</where>
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>
	
	<select id="getFref" resultType="FieldContent">
		SELECT
			T1.F_FIELD_ID AS "fieldId",
			T1.F_OWNER_CLASS_ID AS "ownerClassId",
			T1.F_FIELD_NAME AS "fieldName",
			T1.F_TYPE AS "type",
			T1.F_WIDTH AS "width",
			T1.F_SCALE AS "scale",
			T1.F_CREF_CLASS_ID AS "crefClassId",
			T1.F_EREF_ENUM_ID AS "erefEnumId",
			T1.F_FREF_FIELD_ID AS "frefFieldId",
			T1.F_PK AS "pk",
			T1.F_NULLABLE AS "nullable",
			T1.F_NEEDS_SUM AS "needsSum",
			T1.F_NEEDS_AVG AS "needsAvg",
			T1.F_NEEDS_MAX AS "needsMax",
			T1.F_NEEDS_MIN AS "needsMin",
			T1.F_IS_CONTAINER AS "isContainer",
			T1.F_FORMAT AS "format",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T2.F_CLASS_NAME || '/' || T1.F_FIELD_NAME AS "_title",
			T2.F_CLASS_NAME || '(' || T2.F_TITLE || ')' AS "owner_title",
			T3.F_CLASS_NAME || '(' || T3.F_TITLE || ')' AS "cref_title",
			T4.F_ENUM_NAME || '(' || T4.F_TITLE || ')' AS "eref_title",
			T6.F_CLASS_NAME || '/' || T5.F_FIELD_NAME AS "fref_title",
			T7.F_VALUE_ID AS "type_title"
		FROM
			T_FIELD T1
		LEFT JOIN T_CLASS T2 ON
			T1.F_OWNER_CLASS_ID = T2.F_CLASS_ID
		LEFT JOIN T_CLASS T3 ON
			T1.F_CREF_CLASS_ID = T3.F_CLASS_ID
		LEFT JOIN T_ENUM T4 ON
			T1.F_EREF_ENUM_ID = T4.F_ENUM_ID
		LEFT JOIN T_FIELD T5 ON
			T1.F_FREF_FIELD_ID = T5.F_FIELD_ID
		LEFT JOIN T_CLASS T6 ON
			T5.F_OWNER_CLASS_ID = T6.F_CLASS_ID
		LEFT JOIN T_ENUM_VALUE T7 ON
			T7.F_OWNER_ENUM_ID = 1 AND
			T1.F_TYPE = T7.F_VALUE_ID
		WHERE
			T1.F_FIELD_ID = #{ frefFieldId }
	</select>

	<select id="listFrefCandidateSummary" resultType="FieldSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_FIELD T1
		LEFT JOIN T_CLASS T2 ON
			T1.F_OWNER_CLASS_ID = T2.F_CLASS_ID
		<where>
			<if test="hint != null">
				T2.F_CLASS_NAME || '/' || T1.F_FIELD_NAME LIKE '%' || #{hint} || '%'
			</if>
		</where>
	</select>

	<select id="listFrefCandidateSubject" resultType="FieldSubject">
		SELECT
			T1.F_FIELD_ID AS "fieldId",
			T2.F_CLASS_NAME || '/' || T1.F_FIELD_NAME AS "_title"
		FROM
			T_FIELD T1
		LEFT JOIN T_CLASS T2 ON
			T1.F_OWNER_CLASS_ID = T2.F_CLASS_ID
		<where>
			<if test="hint != null">
				T2.F_CLASS_NAME || '/' || T1.F_FIELD_NAME LIKE '%' || #{hint} || '%'
			</if>
		</where>
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="listI18nsSummary" resultType="FieldI18nSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_FIELD_I18N T1
		WHERE
			F_OWNER_FIELD_ID = #{ content.fieldId }
	</select>

	<select id="listI18nsContent" resultType="FieldI18nContent">
		SELECT
			T1.F_OWNER_FIELD_ID AS "ownerFieldId",
			T1.F_TARGET_LOCALE_ID AS "targetLocaleId",
			T1.F_FORMAT AS "format",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T3.F_CLASS_NAME || '/' || T2.F_FIELD_NAME AS "_title",
			T3.F_CLASS_NAME || '/' || T2.F_FIELD_NAME AS "owner_title",
			T4.F_TITLE AS "target_title"
		FROM
			T_FIELD_I18N T1
		LEFT JOIN T_FIELD T2 ON
			T1.F_OWNER_FIELD_ID = T2.F_FIELD_ID
		LEFT JOIN T_CLASS T3 ON
			T2.F_OWNER_CLASS_ID = T3.F_CLASS_ID
		LEFT JOIN T_LOCALE T4 ON
			T1.F_TARGET_LOCALE_ID = T4.F_LOCALE_ID
		WHERE
			T1.F_OWNER_FIELD_ID = #{ content.fieldId }
		ORDER BY
			T2.F_FIELD_ID ASC
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="deleteI18nsAll">
		DELETE FROM
			T_FIELD_I18N
		WHERE
			F_OWNER_FIELD_ID = #{ content.fieldId }
	</select>

</mapper>
