<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.vvorks.builder.server.mapper.FormMapper">

	<insert id="insert" parameterType="FormContent">
		INSERT INTO T_FORM (
			F_FORM_ID,
			F_OWNER_PROJECT_ID,
			F_NAME,
			F_TITLE,
			F_DESCRIPTION,
			F__LAST_UPDATED_AT
		) VALUES (
			#{ formId },
			#{ ownerProjectId },
			#{ name },
			#{ title },
			#{ description },
			(strftime('%s', 'now') * 1000)
		)
	</insert>

	<update id="update" parameterType="FormContent">
		UPDATE T_FORM SET
			F_OWNER_PROJECT_ID = #{ ownerProjectId },
			F_NAME = #{ name },
			F_TITLE = #{ title },
			F_DESCRIPTION = #{ description },
			F__LAST_UPDATED_AT = (strftime('%s', 'now') * 1000)
		WHERE
			F_FORM_ID = #{ formId }
			AND
			F__LAST_UPDATED_AT = #{ _lastUpdatedAt }
	</update>

	<delete id="delete" parameterType="FormContent">
		DELETE FROM T_FORM
		WHERE
			F_FORM_ID = #{ formId }
			AND
			F__LAST_UPDATED_AT = #{ _lastUpdatedAt }
	</delete>

	<select id="get" resultType="FormContent">
		SELECT
			T1.F_FORM_ID AS "formId",
			T1.F_OWNER_PROJECT_ID AS "ownerProjectId",
			T1.F_NAME AS "name",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_NAME AS "_title",
			T2.F_PROJECT_NAME || '(' || T2.F_TITLE || ')' AS "owner_title"
		FROM
			T_FORM T1
		LEFT JOIN T_PROJECT T2 ON
			T1.F_OWNER_PROJECT_ID = T2.F_PROJECT_ID
		WHERE
			T1.F_FORM_ID = #{ formId }
	</select>

	<select id="listSummary" resultType="FormSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_FORM T1
	</select>

	<select id="listContent" resultType="FormContent">
		SELECT
			T1.F_FORM_ID AS "formId",
			T1.F_OWNER_PROJECT_ID AS "ownerProjectId",
			T1.F_NAME AS "name",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_NAME AS "_title",
			T2.F_PROJECT_NAME || '(' || T2.F_TITLE || ')' AS "owner_title"
		FROM
			T_FORM T1
		LEFT JOIN T_PROJECT T2 ON
			T1.F_OWNER_PROJECT_ID = T2.F_PROJECT_ID
		ORDER BY
			T1.F_NAME
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="getOwner" resultType="ProjectContent">
		SELECT
			T1.F_PROJECT_ID AS "projectId",
			T1.F_PROJECT_NAME AS "projectName",
			T1.F_GRADLE_NAME AS "gradleName",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F_COPYRIGHTS AS "copyrights",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_PROJECT_NAME || '(' || T1.F_TITLE || ')' AS "_title"
		FROM
			T_PROJECT T1
		WHERE
			T1.F_PROJECT_ID = #{ ownerProjectId }
	</select>

	<select id="listOwnerCandidateSummary" resultType="ProjectSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_PROJECT T1
		<where>
			<if test="hint != null">
				T1.F_PROJECT_NAME || '(' || T1.F_TITLE || ')' LIKE '%' || #{hint} || '%'
			</if>
		</where>
	</select>

	<select id="listOwnerCandidateSubject" resultType="ProjectSubject">
		SELECT
			T1.F_PROJECT_ID AS "projectId",
			T1.F_PROJECT_NAME || '(' || T1.F_TITLE || ')' AS "_title"
		FROM
			T_PROJECT T1
		<where>
			<if test="hint != null">
				T1.F_PROJECT_NAME || '(' || T1.F_TITLE || ')' LIKE '%' || #{hint} || '%'
			</if>
		</where>
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="listVariantsSummary" resultType="FormVariantSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_FORM_VARIANT T1
		WHERE
			F_OWNER_FORM_ID = #{ content.formId }
	</select>

	<select id="listVariantsContent" resultType="FormVariantContent">
		SELECT
			T1.F_VARIANT_ID AS "variantId",
			T1.F_OWNER_FORM_ID AS "ownerFormId",
			T1.F_WIDTH AS "width",
			T1.F_HEIGHT AS "height",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T2.F_NAME AS "_title",
			T2.F_NAME AS "owner_title"
		FROM
			T_FORM_VARIANT T1
		LEFT JOIN T_FORM T2 ON
			T1.F_OWNER_FORM_ID = T2.F_FORM_ID
		WHERE
			T1.F_OWNER_FORM_ID = #{ content.formId }
		ORDER BY
			T2.F_NAME ASC, T1.F_WIDTH ASC
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

</mapper>
