<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Apache License v2.0 -->
<mapper namespace="com.github.vvorks.builder.server.mapper.LayoutMapper">

	<insert id="insert" parameterType="LayoutContent">
		INSERT INTO T_LAYOUT (
			F_LAYOUT_ID,
			F_OWNER_PAGE_ID,
			F_PARENT_LAYOUT_ID,
			F_LAYOUT_TYPE,
			F_TARGET_FIELD_ID,
			F_CONST_MESSAGE_ID,
			F_WIDGET_WIDGET_ID,
			F_LAYOUT_PARAM,
			F_STYLE_STYLE_ID,
			F_LEFT,
			F_TOP,
			F_RIGHT,
			F_BOTTOM,
			F_WIDTH,
			F_HEIGHT,
			F__LAST_UPDATED_AT
		) VALUES (
			#{ layoutId },
			#{ ownerPageId },
			#{ parentLayoutId },
			#{ layoutType },
			#{ targetFieldId },
			#{ constMessageId },
			#{ widgetWidgetId },
			#{ layoutParam },
			#{ styleStyleId },
			#{ left },
			#{ top },
			#{ right },
			#{ bottom },
			#{ width },
			#{ height },
			(strftime('%s', 'now') * 1000)
		)
	</insert>

	<update id="update" parameterType="LayoutContent">
		UPDATE T_LAYOUT SET
			F_OWNER_PAGE_ID = #{ ownerPageId },
			F_PARENT_LAYOUT_ID = #{ parentLayoutId },
			F_LAYOUT_TYPE = #{ layoutType },
			F_TARGET_FIELD_ID = #{ targetFieldId },
			F_CONST_MESSAGE_ID = #{ constMessageId },
			F_WIDGET_WIDGET_ID = #{ widgetWidgetId },
			F_LAYOUT_PARAM = #{ layoutParam },
			F_STYLE_STYLE_ID = #{ styleStyleId },
			F_LEFT = #{ left },
			F_TOP = #{ top },
			F_RIGHT = #{ right },
			F_BOTTOM = #{ bottom },
			F_WIDTH = #{ width },
			F_HEIGHT = #{ height },
			F__LAST_UPDATED_AT = (strftime('%s', 'now') * 1000)
		WHERE
			F_LAYOUT_ID = #{ layoutId }
			AND
			F__LAST_UPDATED_AT = #{ _lastUpdatedAt }
	</update>

	<delete id="delete" parameterType="LayoutContent">
		DELETE FROM T_LAYOUT
		WHERE
			F_LAYOUT_ID = #{ layoutId }
			AND
			F__LAST_UPDATED_AT = #{ _lastUpdatedAt }
	</delete>

	<select id="get" resultType="LayoutContent">
		SELECT
			T1.F_LAYOUT_ID AS "layoutId",
			T1.F_OWNER_PAGE_ID AS "ownerPageId",
			T1.F_PARENT_LAYOUT_ID AS "parentLayoutId",
			T1.F_LAYOUT_TYPE AS "layoutType",
			T1.F_TARGET_FIELD_ID AS "targetFieldId",
			T1.F_CONST_MESSAGE_ID AS "constMessageId",
			T1.F_WIDGET_WIDGET_ID AS "widgetWidgetId",
			T1.F_LAYOUT_PARAM AS "layoutParam",
			T1.F_STYLE_STYLE_ID AS "styleStyleId",
			T1.F_LEFT AS "left",
			T1.F_TOP AS "top",
			T1.F_RIGHT AS "right",
			T1.F_BOTTOM AS "bottom",
			T1.F_WIDTH AS "width",
			T1.F_HEIGHT AS "height",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_LAYOUT_ID AS "_title",
			T3.F_PAGE_SET_NAME || '(' || T2.F_WIDTH || 'x' || T2.F_HEIGHT || ')' AS "owner_title",
			T4.F_LAYOUT_ID AS "parent_title",
			T6.F_CLASS_NAME || '/' || T5.F_FIELD_NAME AS "target_title",
			T7.F_MESSAGE_NAME AS "const_title",
			T8.F_WIDGET_NAME AS "widget_title",
			T9.F_STYLE_NAME AS "style_title",
			T10.F_VALUE_ID AS "layoutType_title"
		FROM
			T_LAYOUT T1
		LEFT JOIN T_PAGE T2 ON
			T1.F_OWNER_PAGE_ID = T2.F_PAGE_ID
		LEFT JOIN T_PAGE_SET T3 ON
			T2.F_OWNER_PAGE_SET_ID = T3.F_PAGE_SET_ID
		LEFT JOIN T_LAYOUT T4 ON
			T1.F_PARENT_LAYOUT_ID = T4.F_LAYOUT_ID
		LEFT JOIN T_FIELD T5 ON
			T1.F_TARGET_FIELD_ID = T5.F_FIELD_ID
		LEFT JOIN T_CLASS T6 ON
			T5.F_OWNER_CLASS_ID = T6.F_CLASS_ID
		LEFT JOIN T_MESSAGE T7 ON
			T1.F_CONST_MESSAGE_ID = T7.F_MESSAGE_ID
		LEFT JOIN T_WIDGET T8 ON
			T1.F_WIDGET_WIDGET_ID = T8.F_WIDGET_ID
		LEFT JOIN T_STYLE T9 ON
			T1.F_STYLE_STYLE_ID = T9.F_STYLE_ID
		LEFT JOIN T_ENUM_VALUE T10 ON
			T10.F_OWNER_ENUM_ID = 3 AND
			T1.F_LAYOUT_TYPE = T10.F_VALUE_ID
		WHERE
			T1.F_LAYOUT_ID = #{ layoutId }
	</select>

	<select id="listSummary" resultType="LayoutSummary">
		SELECT
			MAX(T1.F_LAYOUT_ID) AS "maxLayoutId",
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_LAYOUT T1
	</select>

	<select id="listContent" resultType="LayoutContent">
		SELECT
			T1.F_LAYOUT_ID AS "layoutId",
			T1.F_OWNER_PAGE_ID AS "ownerPageId",
			T1.F_PARENT_LAYOUT_ID AS "parentLayoutId",
			T1.F_LAYOUT_TYPE AS "layoutType",
			T1.F_TARGET_FIELD_ID AS "targetFieldId",
			T1.F_CONST_MESSAGE_ID AS "constMessageId",
			T1.F_WIDGET_WIDGET_ID AS "widgetWidgetId",
			T1.F_LAYOUT_PARAM AS "layoutParam",
			T1.F_STYLE_STYLE_ID AS "styleStyleId",
			T1.F_LEFT AS "left",
			T1.F_TOP AS "top",
			T1.F_RIGHT AS "right",
			T1.F_BOTTOM AS "bottom",
			T1.F_WIDTH AS "width",
			T1.F_HEIGHT AS "height",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_LAYOUT_ID AS "_title",
			T3.F_PAGE_SET_NAME || '(' || T2.F_WIDTH || 'x' || T2.F_HEIGHT || ')' AS "owner_title",
			T4.F_LAYOUT_ID AS "parent_title",
			T6.F_CLASS_NAME || '/' || T5.F_FIELD_NAME AS "target_title",
			T7.F_MESSAGE_NAME AS "const_title",
			T8.F_WIDGET_NAME AS "widget_title",
			T9.F_STYLE_NAME AS "style_title",
			T10.F_VALUE_ID AS "layoutType_title"
		FROM
			T_LAYOUT T1
		LEFT JOIN T_PAGE T2 ON
			T1.F_OWNER_PAGE_ID = T2.F_PAGE_ID
		LEFT JOIN T_PAGE_SET T3 ON
			T2.F_OWNER_PAGE_SET_ID = T3.F_PAGE_SET_ID
		LEFT JOIN T_LAYOUT T4 ON
			T1.F_PARENT_LAYOUT_ID = T4.F_LAYOUT_ID
		LEFT JOIN T_FIELD T5 ON
			T1.F_TARGET_FIELD_ID = T5.F_FIELD_ID
		LEFT JOIN T_CLASS T6 ON
			T5.F_OWNER_CLASS_ID = T6.F_CLASS_ID
		LEFT JOIN T_MESSAGE T7 ON
			T1.F_CONST_MESSAGE_ID = T7.F_MESSAGE_ID
		LEFT JOIN T_WIDGET T8 ON
			T1.F_WIDGET_WIDGET_ID = T8.F_WIDGET_ID
		LEFT JOIN T_STYLE T9 ON
			T1.F_STYLE_STYLE_ID = T9.F_STYLE_ID
		LEFT JOIN T_ENUM_VALUE T10 ON
			T10.F_OWNER_ENUM_ID = 3 AND
			T1.F_LAYOUT_TYPE = T10.F_VALUE_ID
		ORDER BY
			T1.F_LAYOUT_ID
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="getOwner" resultType="PageContent">
		SELECT
			T1.F_PAGE_ID AS "pageId",
			T1.F_OWNER_PAGE_SET_ID AS "ownerPageSetId",
			T1.F_CONTEXT_CLASS_ID AS "contextClassId",
			T1.F_WIDTH AS "width",
			T1.F_HEIGHT AS "height",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T2.F_PAGE_SET_NAME || '(' || T1.F_WIDTH || 'x' || T1.F_HEIGHT || ')' AS "_title",
			T2.F_PAGE_SET_NAME AS "owner_title",
			T3.F_CLASS_NAME || '(' || T3.F_TITLE || ')' AS "context_title"
		FROM
			T_PAGE T1
		LEFT JOIN T_PAGE_SET T2 ON
			T1.F_OWNER_PAGE_SET_ID = T2.F_PAGE_SET_ID
		LEFT JOIN T_CLASS T3 ON
			T1.F_CONTEXT_CLASS_ID = T3.F_CLASS_ID
		WHERE
			T1.F_PAGE_ID = #{ ownerPageId }
	</select>

	<select id="listOwnerCandidateSummary" resultType="PageSummary">
		SELECT
			MAX(T1.F_PAGE_ID) AS "maxPageId",
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_PAGE T1
		<where>
			<if test="hint != null">
				T2.F_PAGE_SET_NAME || '(' || T1.F_WIDTH || 'x' || T1.F_HEIGHT || ')' LIKE '%' || #{hint} || '%'
			</if>
		</where>
	</select>

	<select id="listOwnerCandidateSubject" resultType="PageSubject">
		SELECT
			T1.F_PAGE_ID AS "pageId",
			T2.F_PAGE_SET_NAME || '(' || T1.F_WIDTH || 'x' || T1.F_HEIGHT || ')' AS "_title"
		FROM
			T_PAGE T1
		LEFT JOIN T_PAGE_SET T2 ON
			T1.F_OWNER_PAGE_SET_ID = T2.F_PAGE_SET_ID
		<where>
			<if test="hint != null">
				T2.F_PAGE_SET_NAME || '(' || T1.F_WIDTH || 'x' || T1.F_HEIGHT || ')' LIKE '%' || #{hint} || '%'
			</if>
		</where>
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>
	
	<select id="getParent" resultType="LayoutContent">
		SELECT
			T1.F_LAYOUT_ID AS "layoutId",
			T1.F_OWNER_PAGE_ID AS "ownerPageId",
			T1.F_PARENT_LAYOUT_ID AS "parentLayoutId",
			T1.F_LAYOUT_TYPE AS "layoutType",
			T1.F_TARGET_FIELD_ID AS "targetFieldId",
			T1.F_CONST_MESSAGE_ID AS "constMessageId",
			T1.F_WIDGET_WIDGET_ID AS "widgetWidgetId",
			T1.F_LAYOUT_PARAM AS "layoutParam",
			T1.F_STYLE_STYLE_ID AS "styleStyleId",
			T1.F_LEFT AS "left",
			T1.F_TOP AS "top",
			T1.F_RIGHT AS "right",
			T1.F_BOTTOM AS "bottom",
			T1.F_WIDTH AS "width",
			T1.F_HEIGHT AS "height",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_LAYOUT_ID AS "_title",
			T3.F_PAGE_SET_NAME || '(' || T2.F_WIDTH || 'x' || T2.F_HEIGHT || ')' AS "owner_title",
			T4.F_LAYOUT_ID AS "parent_title",
			T6.F_CLASS_NAME || '/' || T5.F_FIELD_NAME AS "target_title",
			T7.F_MESSAGE_NAME AS "const_title",
			T8.F_WIDGET_NAME AS "widget_title",
			T9.F_STYLE_NAME AS "style_title",
			T10.F_VALUE_ID AS "layoutType_title"
		FROM
			T_LAYOUT T1
		LEFT JOIN T_PAGE T2 ON
			T1.F_OWNER_PAGE_ID = T2.F_PAGE_ID
		LEFT JOIN T_PAGE_SET T3 ON
			T2.F_OWNER_PAGE_SET_ID = T3.F_PAGE_SET_ID
		LEFT JOIN T_LAYOUT T4 ON
			T1.F_PARENT_LAYOUT_ID = T4.F_LAYOUT_ID
		LEFT JOIN T_FIELD T5 ON
			T1.F_TARGET_FIELD_ID = T5.F_FIELD_ID
		LEFT JOIN T_CLASS T6 ON
			T5.F_OWNER_CLASS_ID = T6.F_CLASS_ID
		LEFT JOIN T_MESSAGE T7 ON
			T1.F_CONST_MESSAGE_ID = T7.F_MESSAGE_ID
		LEFT JOIN T_WIDGET T8 ON
			T1.F_WIDGET_WIDGET_ID = T8.F_WIDGET_ID
		LEFT JOIN T_STYLE T9 ON
			T1.F_STYLE_STYLE_ID = T9.F_STYLE_ID
		LEFT JOIN T_ENUM_VALUE T10 ON
			T10.F_OWNER_ENUM_ID = 3 AND
			T1.F_LAYOUT_TYPE = T10.F_VALUE_ID
		WHERE
			T1.F_LAYOUT_ID = #{ parentLayoutId }
	</select>

	<select id="listParentCandidateSummary" resultType="LayoutSummary">
		SELECT
			MAX(T1.F_LAYOUT_ID) AS "maxLayoutId",
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_LAYOUT T1
		<where>
			<if test="hint != null">
				T1.F_LAYOUT_ID LIKE '%' || #{hint} || '%'
			</if>
		</where>
	</select>

	<select id="listParentCandidateSubject" resultType="LayoutSubject">
		SELECT
			T1.F_LAYOUT_ID AS "layoutId",
			T1.F_LAYOUT_ID AS "_title"
		FROM
			T_LAYOUT T1
		<where>
			<if test="hint != null">
				T1.F_LAYOUT_ID LIKE '%' || #{hint} || '%'
			</if>
		</where>
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>
	
	<select id="getTarget" resultType="FieldContent">
		SELECT
			T1.F_FIELD_ID AS "fieldId",
			T1.F_OWNER_CLASS_ID AS "ownerClassId",
			T1.F_FIELD_NAME AS "fieldName",
			T1.F_TYPE AS "type",
			T1.F_WIDTH AS "width",
			T1.F_SCALE AS "scale",
			T1.F_CREF_CLASS_ID AS "crefClassId",
			T1.F_EREF_ENUM_ID AS "erefEnumId",
			T1.F_FREF_FIELD_ID AS "frefFieldId",
			T1.F_PK AS "pk",
			T1.F_NULLABLE AS "nullable",
			T1.F_NEEDS_SUM AS "needsSum",
			T1.F_NEEDS_AVG AS "needsAvg",
			T1.F_NEEDS_MAX AS "needsMax",
			T1.F_NEEDS_MIN AS "needsMin",
			T1.F_IS_CONTAINER AS "isContainer",
			T1.F_FORMAT AS "format",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T2.F_CLASS_NAME || '/' || T1.F_FIELD_NAME AS "_title",
			T2.F_CLASS_NAME || '(' || T2.F_TITLE || ')' AS "owner_title",
			T3.F_CLASS_NAME || '(' || T3.F_TITLE || ')' AS "cref_title",
			T4.F_ENUM_NAME || '(' || T4.F_TITLE || ')' AS "eref_title",
			T6.F_CLASS_NAME || '/' || T5.F_FIELD_NAME AS "fref_title",
			T7.F_VALUE_ID AS "type_title"
		FROM
			T_FIELD T1
		LEFT JOIN T_CLASS T2 ON
			T1.F_OWNER_CLASS_ID = T2.F_CLASS_ID
		LEFT JOIN T_CLASS T3 ON
			T1.F_CREF_CLASS_ID = T3.F_CLASS_ID
		LEFT JOIN T_ENUM T4 ON
			T1.F_EREF_ENUM_ID = T4.F_ENUM_ID
		LEFT JOIN T_FIELD T5 ON
			T1.F_FREF_FIELD_ID = T5.F_FIELD_ID
		LEFT JOIN T_CLASS T6 ON
			T5.F_OWNER_CLASS_ID = T6.F_CLASS_ID
		LEFT JOIN T_ENUM_VALUE T7 ON
			T7.F_OWNER_ENUM_ID = 1 AND
			T1.F_TYPE = T7.F_VALUE_ID
		WHERE
			T1.F_FIELD_ID = #{ targetFieldId }
	</select>

	<select id="listTargetCandidateSummary" resultType="FieldSummary">
		SELECT
			MAX(T1.F_FIELD_ID) AS "maxFieldId",
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_FIELD T1
		<where>
			<if test="hint != null">
				T2.F_CLASS_NAME || '/' || T1.F_FIELD_NAME LIKE '%' || #{hint} || '%'
			</if>
		</where>
	</select>

	<select id="listTargetCandidateSubject" resultType="FieldSubject">
		SELECT
			T1.F_FIELD_ID AS "fieldId",
			T2.F_CLASS_NAME || '/' || T1.F_FIELD_NAME AS "_title"
		FROM
			T_FIELD T1
		LEFT JOIN T_CLASS T2 ON
			T1.F_OWNER_CLASS_ID = T2.F_CLASS_ID
		<where>
			<if test="hint != null">
				T2.F_CLASS_NAME || '/' || T1.F_FIELD_NAME LIKE '%' || #{hint} || '%'
			</if>
		</where>
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>
	
	<select id="getConst" resultType="MessageContent">
		SELECT
			T1.F_MESSAGE_ID AS "messageId",
			T1.F_OWNER_PROJECT_ID AS "ownerProjectId",
			T1.F_MESSAGE_NAME AS "messageName",
			T1.F_MESSAGE AS "message",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_MESSAGE_NAME AS "_title",
			T2.F_PROJECT_NAME || '(' || T2.F_TITLE || ')' AS "owner_title"
		FROM
			T_MESSAGE T1
		LEFT JOIN T_PROJECT T2 ON
			T1.F_OWNER_PROJECT_ID = T2.F_PROJECT_ID
		WHERE
			T1.F_MESSAGE_ID = #{ constMessageId }
	</select>

	<select id="listConstCandidateSummary" resultType="MessageSummary">
		SELECT
			MAX(T1.F_MESSAGE_ID) AS "maxMessageId",
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_MESSAGE T1
		<where>
			<if test="hint != null">
				T1.F_MESSAGE_NAME LIKE '%' || #{hint} || '%'
			</if>
		</where>
	</select>

	<select id="listConstCandidateSubject" resultType="MessageSubject">
		SELECT
			T1.F_MESSAGE_ID AS "messageId",
			T1.F_MESSAGE_NAME AS "_title"
		FROM
			T_MESSAGE T1
		<where>
			<if test="hint != null">
				T1.F_MESSAGE_NAME LIKE '%' || #{hint} || '%'
			</if>
		</where>
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>
	
	<select id="getWidget" resultType="WidgetContent">
		SELECT
			T1.F_WIDGET_ID AS "widgetId",
			T1.F_OWNER_PROJECT_ID AS "ownerProjectId",
			T1.F_WIDGET_NAME AS "widgetName",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_WIDGET_NAME AS "_title",
			T2.F_PROJECT_NAME || '(' || T2.F_TITLE || ')' AS "owner_title"
		FROM
			T_WIDGET T1
		LEFT JOIN T_PROJECT T2 ON
			T1.F_OWNER_PROJECT_ID = T2.F_PROJECT_ID
		WHERE
			T1.F_WIDGET_ID = #{ widgetWidgetId }
	</select>

	<select id="listWidgetCandidateSummary" resultType="WidgetSummary">
		SELECT
			MAX(T1.F_WIDGET_ID) AS "maxWidgetId",
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_WIDGET T1
		<where>
			<if test="hint != null">
				T1.F_WIDGET_NAME LIKE '%' || #{hint} || '%'
			</if>
		</where>
	</select>

	<select id="listWidgetCandidateSubject" resultType="WidgetSubject">
		SELECT
			T1.F_WIDGET_ID AS "widgetId",
			T1.F_WIDGET_NAME AS "_title"
		FROM
			T_WIDGET T1
		<where>
			<if test="hint != null">
				T1.F_WIDGET_NAME LIKE '%' || #{hint} || '%'
			</if>
		</where>
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>
	
	<select id="getStyle" resultType="StyleContent">
		SELECT
			T1.F_STYLE_ID AS "styleId",
			T1.F_OWNER_PROJECT_ID AS "ownerProjectId",
			T1.F_STYLE_NAME AS "styleName",
			T1.F_PARENT_STYLE_ID AS "parentStyleId",
			T1.F_COND AS "cond",
			T1.F_COND_PARAM AS "condParam",
			T1.F_TEXT_COLOR AS "textColor",
			T1.F_BACKGROUND_COLOR AS "backgroundColor",
			T1.F_BACKGROUND_IMAGE AS "backgroundImage",
			T1.F_BORDER_LEFT AS "borderLeft",
			T1.F_BORDER_TOP AS "borderTop",
			T1.F_BORDER_RIGHT AS "borderRight",
			T1.F_BORDER_BOTTOM AS "borderBottom",
			T1.F_BORDER_COLOR AS "borderColor",
			T1.F_BORDER_IMAGE AS "borderImage",
			T1.F_FONT_SIZE AS "fontSize",
			T1.F_FONT_FAMILY AS "fontFamily",
			T1.F_LINE_HEIGHT AS "lineHeight",
			T1.F_TEXT_ALIGN AS "textAlign",
			T1.F_VERTICAL_ALIGN AS "verticalAlign",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_STYLE_NAME AS "_title",
			T2.F_PROJECT_NAME || '(' || T2.F_TITLE || ')' AS "owner_title",
			T3.F_STYLE_NAME AS "parent_title",
			T4.F_VALUE_ID AS "cond_title"
		FROM
			T_STYLE T1
		LEFT JOIN T_PROJECT T2 ON
			T1.F_OWNER_PROJECT_ID = T2.F_PROJECT_ID
		LEFT JOIN T_STYLE T3 ON
			T1.F_PARENT_STYLE_ID = T3.F_STYLE_ID
		LEFT JOIN T_ENUM_VALUE T4 ON
			T4.F_OWNER_ENUM_ID = 2 AND
			T1.F_COND = T4.F_VALUE_ID
		WHERE
			T1.F_STYLE_ID = #{ styleStyleId }
	</select>

	<select id="listStyleCandidateSummary" resultType="StyleSummary">
		SELECT
			MAX(T1.F_STYLE_ID) AS "maxStyleId",
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_STYLE T1
		<where>
			<if test="hint != null">
				T1.F_STYLE_NAME LIKE '%' || #{hint} || '%'
			</if>
		</where>
	</select>

	<select id="listStyleCandidateSubject" resultType="StyleSubject">
		SELECT
			T1.F_STYLE_ID AS "styleId",
			T1.F_STYLE_NAME AS "_title"
		FROM
			T_STYLE T1
		<where>
			<if test="hint != null">
				T1.F_STYLE_NAME LIKE '%' || #{hint} || '%'
			</if>
		</where>
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="listChildrenSummary" resultType="LayoutSummary">
		SELECT
			MAX(T1.F_LAYOUT_ID) AS "maxLayoutId",
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_LAYOUT T1
		WHERE
			F_PARENT_LAYOUT_ID = #{ content.layoutId }
	</select>

	<select id="listChildrenContent" resultType="LayoutContent">
		SELECT
			T1.F_LAYOUT_ID AS "layoutId",
			T1.F_OWNER_PAGE_ID AS "ownerPageId",
			T1.F_PARENT_LAYOUT_ID AS "parentLayoutId",
			T1.F_LAYOUT_TYPE AS "layoutType",
			T1.F_TARGET_FIELD_ID AS "targetFieldId",
			T1.F_CONST_MESSAGE_ID AS "constMessageId",
			T1.F_WIDGET_WIDGET_ID AS "widgetWidgetId",
			T1.F_LAYOUT_PARAM AS "layoutParam",
			T1.F_STYLE_STYLE_ID AS "styleStyleId",
			T1.F_LEFT AS "left",
			T1.F_TOP AS "top",
			T1.F_RIGHT AS "right",
			T1.F_BOTTOM AS "bottom",
			T1.F_WIDTH AS "width",
			T1.F_HEIGHT AS "height",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_LAYOUT_ID AS "_title",
			T3.F_PAGE_SET_NAME || '(' || T2.F_WIDTH || 'x' || T2.F_HEIGHT || ')' AS "owner_title",
			T4.F_LAYOUT_ID AS "parent_title",
			T6.F_CLASS_NAME || '/' || T5.F_FIELD_NAME AS "target_title",
			T7.F_MESSAGE_NAME AS "const_title",
			T8.F_WIDGET_NAME AS "widget_title",
			T9.F_STYLE_NAME AS "style_title",
			T10.F_VALUE_ID AS "layoutType_title"
		FROM
			T_LAYOUT T1
		LEFT JOIN T_PAGE T2 ON
			T1.F_OWNER_PAGE_ID = T2.F_PAGE_ID
		LEFT JOIN T_PAGE_SET T3 ON
			T2.F_OWNER_PAGE_SET_ID = T3.F_PAGE_SET_ID
		LEFT JOIN T_LAYOUT T4 ON
			T1.F_PARENT_LAYOUT_ID = T4.F_LAYOUT_ID
		LEFT JOIN T_FIELD T5 ON
			T1.F_TARGET_FIELD_ID = T5.F_FIELD_ID
		LEFT JOIN T_CLASS T6 ON
			T5.F_OWNER_CLASS_ID = T6.F_CLASS_ID
		LEFT JOIN T_MESSAGE T7 ON
			T1.F_CONST_MESSAGE_ID = T7.F_MESSAGE_ID
		LEFT JOIN T_WIDGET T8 ON
			T1.F_WIDGET_WIDGET_ID = T8.F_WIDGET_ID
		LEFT JOIN T_STYLE T9 ON
			T1.F_STYLE_STYLE_ID = T9.F_STYLE_ID
		LEFT JOIN T_ENUM_VALUE T10 ON
			T10.F_OWNER_ENUM_ID = 3 AND
			T1.F_LAYOUT_TYPE = T10.F_VALUE_ID
		WHERE
			T1.F_PARENT_LAYOUT_ID = #{ content.layoutId }
		ORDER BY
			T1.F_LAYOUT_ID
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

</mapper>
