<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.vvorks.builder.server.mapper.LocalizedResourceMapper">

	<insert id="insert" parameterType="LocalizedResourceContent">
		INSERT INTO T_LOCALIZED_RESOURCE (
			F_OWNER_RESOURCE_ID,
			F_LOCALE,
			F_VALUE,
			F__LAST_UPDATED_AT
		) VALUES (
			#{ ownerResourceId },
			#{ locale },
			#{ value },
			(strftime('%s', 'now') * 1000)
		)
	</insert>

	<update id="update" parameterType="LocalizedResourceContent">
		UPDATE T_LOCALIZED_RESOURCE SET
			F_VALUE = #{ value },
			F__LAST_UPDATED_AT = (strftime('%s', 'now') * 1000)
		WHERE
			F_OWNER_RESOURCE_ID = #{ ownerResourceId } AND 
			F_LOCALE = #{ locale }
			AND
			F__LAST_UPDATED_AT = #{ _lastUpdatedAt }
	</update>

	<delete id="delete" parameterType="LocalizedResourceContent">
		DELETE FROM T_LOCALIZED_RESOURCE
		WHERE
			F_OWNER_RESOURCE_ID = #{ ownerResourceId } AND 
			F_LOCALE = #{ locale }
			AND
			F__LAST_UPDATED_AT = #{ _lastUpdatedAt }
	</delete>

	<select id="get" resultType="LocalizedResourceContent">
		SELECT
			T1.F_OWNER_RESOURCE_ID AS "ownerResourceId",
			T1.F_LOCALE AS "locale",
			T1.F_VALUE AS "value",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_VALUE AS "_title",
			T2.F_DEFAULT_VALUE AS "owner_title"
		FROM
			T_LOCALIZED_RESOURCE T1
		LEFT JOIN T_RESOURCE T2 ON
			T1.F_OWNER_RESOURCE_ID = T2.F_RESOURCE_ID
		WHERE
			T1.F_OWNER_RESOURCE_ID = #{ ownerResourceId } AND 
			T1.F_LOCALE = #{ locale }
	</select>

	<select id="listSummary" resultType="LocalizedResourceSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_LOCALIZED_RESOURCE T1
	</select>

	<select id="listContent" resultType="LocalizedResourceContent">
		SELECT
			T1.F_OWNER_RESOURCE_ID AS "ownerResourceId",
			T1.F_LOCALE AS "locale",
			T1.F_VALUE AS "value",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_VALUE AS "_title",
			T2.F_DEFAULT_VALUE AS "owner_title"
		FROM
			T_LOCALIZED_RESOURCE T1
		LEFT JOIN T_RESOURCE T2 ON
			T1.F_OWNER_RESOURCE_ID = T2.F_RESOURCE_ID
		ORDER BY
			T2.F_RESOURCE_ID ASC, T1.F_LOCALE ASC
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="getOwner" resultType="ResourceContent">
		SELECT
			T1.F_RESOURCE_ID AS "resourceId",
			T1.F_OWNER_PROJECT_ID AS "ownerProjectId",
			T1.F_DEFAULT_VALUE AS "defaultValue",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_DEFAULT_VALUE AS "_title",
			T2.F_PROJECT_NAME || '(' || T2.F_TITLE || ')' AS "owner_title"
		FROM
			T_RESOURCE T1
		LEFT JOIN T_PROJECT T2 ON
			T1.F_OWNER_PROJECT_ID = T2.F_PROJECT_ID
		WHERE
			T1.F_RESOURCE_ID = #{ ownerResourceId }
	</select>

	<select id="listOwnerCandidateSummary" resultType="ResourceSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_RESOURCE T1
		<where>
			<if test="hint != null">
				T1.F_DEFAULT_VALUE LIKE '%' || #{hint} || '%'
			</if>
		</where>
	</select>

	<select id="listOwnerCandidateSubject" resultType="ResourceSubject">
		SELECT
			T1.F_RESOURCE_ID AS "resourceId",
			T1.F_DEFAULT_VALUE AS "_title"
		FROM
			T_RESOURCE T1
		<where>
			<if test="hint != null">
				T1.F_DEFAULT_VALUE LIKE '%' || #{hint} || '%'
			</if>
		</where>
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

</mapper>
