<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.vvorks.builder.server.mapper.ProjectMapper">

	<insert id="insert" parameterType="ProjectContent">
		INSERT INTO T_PROJECT (
			F_PROJECT_ID,
			F_PROJECT_NAME,
			F_GRADLE_NAME,
			F_TITLE,
			F_DESCRIPTION,
			F_NOTE,
			F_COPYRIGHTS,
			F__LAST_UPDATED_AT
		) VALUES (
			#{ projectId },
			#{ projectName },
			#{ gradleName },
			#{ title },
			#{ description },
			#{ note },
			#{ copyrights },
			(strftime('%s', 'now') * 1000)
		)
	</insert>

	<update id="update" parameterType="ProjectContent">
		UPDATE T_PROJECT SET
			F_PROJECT_NAME = #{ projectName },
			F_GRADLE_NAME = #{ gradleName },
			F_TITLE = #{ title },
			F_DESCRIPTION = #{ description },
			F_NOTE = #{ note },
			F_COPYRIGHTS = #{ copyrights },
			F__LAST_UPDATED_AT = (strftime('%s', 'now') * 1000)
		WHERE
			F_PROJECT_ID = #{ projectId }
			AND
			F__LAST_UPDATED_AT = #{ _lastUpdatedAt }
	</update>

	<delete id="delete" parameterType="ProjectContent">
		DELETE FROM T_PROJECT
		WHERE
			F_PROJECT_ID = #{ projectId }
			AND
			F__LAST_UPDATED_AT = #{ _lastUpdatedAt }
	</delete>

	<select id="get" resultType="ProjectContent">
		SELECT
			T1.F_PROJECT_ID AS "projectId",
			T1.F_PROJECT_NAME AS "projectName",
			T1.F_GRADLE_NAME AS "gradleName",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F_COPYRIGHTS AS "copyrights",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_PROJECT_NAME || '(' || T1.F_TITLE || ')' AS "_title"
		FROM
			T_PROJECT T1
		WHERE
			T1.F_PROJECT_ID = #{ projectId }
	</select>

	<select id="listSummary" resultType="ProjectSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_PROJECT T1
	</select>

	<select id="listContent" resultType="ProjectContent">
		SELECT
			T1.F_PROJECT_ID AS "projectId",
			T1.F_PROJECT_NAME AS "projectName",
			T1.F_GRADLE_NAME AS "gradleName",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F_COPYRIGHTS AS "copyrights",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_PROJECT_NAME || '(' || T1.F_TITLE || ')' AS "_title"
		FROM
			T_PROJECT T1
		ORDER BY
			T1.F_PROJECT_ID ASC
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="listSummaryIfNameIs" resultType="ProjectSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_PROJECT T1
		WHERE
			<![CDATA[
			T1.F_PROJECT_NAME = #{name}
			]]>
	</select>

	<select id="listContentIfNameIs" resultType="ProjectContent">
		SELECT
			T1.F_PROJECT_ID AS "projectId",
			T1.F_PROJECT_NAME AS "projectName",
			T1.F_GRADLE_NAME AS "gradleName",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F_COPYRIGHTS AS "copyrights",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_PROJECT_NAME || '(' || T1.F_TITLE || ')' AS "_title"
		FROM
			T_PROJECT T1
		WHERE
			<![CDATA[
			T1.F_PROJECT_NAME = #{name}
			]]>
		ORDER BY
			T1.F_PROJECT_ID ASC
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="listClassesSummary" resultType="ClassSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_CLASS T1
		WHERE
			F_OWNER_PROJECT_ID = #{ content.projectId }
	</select>

	<select id="listClassesContent" resultType="ClassContent">
		SELECT
			T1.F_CLASS_ID AS "classId",
			T1.F_OWNER_PROJECT_ID AS "ownerProjectId",
			T1.F_CLASS_NAME AS "className",
			T1.F_ORDER_EXPR AS "orderExpr",
			T1.F_TITLE_EXPR AS "titleExpr",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_CLASS_NAME || '(' || T1.F_TITLE || ')' AS "_title",
			T2.F_PROJECT_NAME || '(' || T2.F_TITLE || ')' AS "owner_title"
		FROM
			T_CLASS T1
		LEFT JOIN T_PROJECT T2 ON
			T1.F_OWNER_PROJECT_ID = T2.F_PROJECT_ID
		WHERE
			T1.F_OWNER_PROJECT_ID = #{ content.projectId }
		ORDER BY
			T1.F_CLASS_ID ASC
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="listClassesSummaryIfNameIs" resultType="ClassSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_CLASS T1
		WHERE
			T1.F_OWNER_PROJECT_ID = #{ content.projectId }
			<![CDATA[
			AND T1.F_CLASS_NAME = #{name}
			]]>
	</select>

	<select id="listClassesContentIfNameIs" resultType="ClassContent">
		SELECT
			T1.F_CLASS_ID AS "classId",
			T1.F_OWNER_PROJECT_ID AS "ownerProjectId",
			T1.F_CLASS_NAME AS "className",
			T1.F_ORDER_EXPR AS "orderExpr",
			T1.F_TITLE_EXPR AS "titleExpr",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_CLASS_NAME || '(' || T1.F_TITLE || ')' AS "_title",
			T2.F_PROJECT_NAME || '(' || T2.F_TITLE || ')' AS "owner_title"
		FROM
			T_CLASS T1
		LEFT JOIN T_PROJECT T2 ON
			T1.F_OWNER_PROJECT_ID = T2.F_PROJECT_ID
		WHERE
			T1.F_OWNER_PROJECT_ID = #{ content.projectId }
			<![CDATA[
			AND T1.F_CLASS_NAME = #{name}
			]]>
		ORDER BY
			T1.F_CLASS_ID ASC
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>
	
	<select id="listEnumsSummary" resultType="EnumSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_ENUM T1
		WHERE
			F_OWNER_PROJECT_ID = #{ content.projectId }
	</select>

	<select id="listEnumsContent" resultType="EnumContent">
		SELECT
			T1.F_ENUM_ID AS "enumId",
			T1.F_OWNER_PROJECT_ID AS "ownerProjectId",
			T1.F_ENUM_NAME AS "enumName",
			T1.F_ENCODE_STRING AS "encodeString",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_ENUM_NAME || '(' || T1.F_TITLE || ')' AS "_title",
			T2.F_PROJECT_NAME || '(' || T2.F_TITLE || ')' AS "owner_title"
		FROM
			T_ENUM T1
		LEFT JOIN T_PROJECT T2 ON
			T1.F_OWNER_PROJECT_ID = T2.F_PROJECT_ID
		WHERE
			T1.F_OWNER_PROJECT_ID = #{ content.projectId }
		ORDER BY
			T1.F_ENUM_ID ASC
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="listEnumsSummaryIfNameIs" resultType="EnumSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_ENUM T1
		WHERE
			T1.F_OWNER_PROJECT_ID = #{ content.projectId }
			<![CDATA[
			AND T1.F_ENUM_NAME = #{name}
			]]>
	</select>

	<select id="listEnumsContentIfNameIs" resultType="EnumContent">
		SELECT
			T1.F_ENUM_ID AS "enumId",
			T1.F_OWNER_PROJECT_ID AS "ownerProjectId",
			T1.F_ENUM_NAME AS "enumName",
			T1.F_ENCODE_STRING AS "encodeString",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_ENUM_NAME || '(' || T1.F_TITLE || ')' AS "_title",
			T2.F_PROJECT_NAME || '(' || T2.F_TITLE || ')' AS "owner_title"
		FROM
			T_ENUM T1
		LEFT JOIN T_PROJECT T2 ON
			T1.F_OWNER_PROJECT_ID = T2.F_PROJECT_ID
		WHERE
			T1.F_OWNER_PROJECT_ID = #{ content.projectId }
			<![CDATA[
			AND T1.F_ENUM_NAME = #{name}
			]]>
		ORDER BY
			T1.F_ENUM_ID ASC
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>
	
	<select id="listMessagesSummary" resultType="MessageSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_MESSAGE T1
		WHERE
			F_OWNER_PROJECT_ID = #{ content.projectId }
	</select>

	<select id="listMessagesContent" resultType="MessageContent">
		SELECT
			T1.F_MESSAGE_ID AS "messageId",
			T1.F_OWNER_PROJECT_ID AS "ownerProjectId",
			T1.F_MESSAGE_NAME AS "messageName",
			T1.F_MESSAGE AS "message",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_MESSAGE_NAME AS "_title",
			T2.F_PROJECT_NAME || '(' || T2.F_TITLE || ')' AS "owner_title"
		FROM
			T_MESSAGE T1
		LEFT JOIN T_PROJECT T2 ON
			T1.F_OWNER_PROJECT_ID = T2.F_PROJECT_ID
		WHERE
			T1.F_OWNER_PROJECT_ID = #{ content.projectId }
		ORDER BY
			T1.F_MESSAGE_ID ASC
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="listLocalesSummary" resultType="LocaleSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_LOCALE T1
		WHERE
			F_OWNER_PROJECT_ID = #{ content.projectId }
	</select>

	<select id="listLocalesContent" resultType="LocaleContent">
		SELECT
			T1.F_LOCALE_ID AS "localeId",
			T1.F_OWNER_PROJECT_ID AS "ownerProjectId",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_TITLE AS "_title",
			T2.F_PROJECT_NAME || '(' || T2.F_TITLE || ')' AS "owner_title"
		FROM
			T_LOCALE T1
		LEFT JOIN T_PROJECT T2 ON
			T1.F_OWNER_PROJECT_ID = T2.F_PROJECT_ID
		WHERE
			T1.F_OWNER_PROJECT_ID = #{ content.projectId }
		ORDER BY
			T1.F_TITLE
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="listI18nsSummary" resultType="ProjectI18nSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_PROJECT_I18N T1
		WHERE
			F_OWNER_PROJECT_ID = #{ content.projectId }
	</select>

	<select id="listI18nsContent" resultType="ProjectI18nContent">
		SELECT
			T1.F_OWNER_PROJECT_ID AS "ownerProjectId",
			T1.F_TARGET_LOCALE_ID AS "targetLocaleId",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T2.F_PROJECT_NAME || '(' || T2.F_TITLE || '/I18n)' AS "_title",
			T2.F_PROJECT_NAME || '(' || T2.F_TITLE || ')' AS "owner_title",
			T3.F_TITLE AS "target_title"
		FROM
			T_PROJECT_I18N T1
		LEFT JOIN T_PROJECT T2 ON
			T1.F_OWNER_PROJECT_ID = T2.F_PROJECT_ID
		LEFT JOIN T_LOCALE T3 ON
			T1.F_TARGET_LOCALE_ID = T3.F_LOCALE_ID
		WHERE
			T1.F_OWNER_PROJECT_ID = #{ content.projectId }
		ORDER BY
			T2.F_PROJECT_ID ASC, T3.F_LOCALE_ID ASC
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

</mapper>
