<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.vvorks.builder.server.mapper.ProjectMapper">

	<insert id="insert" parameterType="ProjectDto">
		INSERT INTO T_PROJECT (
			F_PROJECT_ID,
			F_PROJECT_NAME,
			F_TITLE,
			F_DESCRIPTION,
			F_NOTE,
			F_COPYRIGHTS
		) VALUES (
			#{ projectId },
			#{ projectName },
			#{ title },
			#{ description },
			#{ note },
			#{ copyrights }
		)
	</insert>

	<update id="update" parameterType="ProjectDto">
		UPDATE T_PROJECT SET
			F_PROJECT_NAME = #{ projectName },
			F_TITLE = #{ title },
			F_DESCRIPTION = #{ description },
			F_NOTE = #{ note },
			F_COPYRIGHTS = #{ copyrights }
		WHERE
			F_PROJECT_ID = #{ projectId }
	</update>

	<delete id="delete" parameterType="ProjectDto">
		DELETE FROM T_PROJECT
		WHERE
			F_PROJECT_ID = #{ projectId }
	</delete>

	<select id="get" resultType="ProjectDto">
		SELECT
			F_PROJECT_ID AS "projectId",
			F_PROJECT_NAME AS "projectName",
			F_TITLE AS "title",
			F_DESCRIPTION AS "description",
			F_NOTE AS "note",
			F_COPYRIGHTS AS "copyrights"
		FROM
			T_PROJECT
		WHERE
			F_PROJECT_ID = #{ projectId }
	</select>

	<select id="list" resultType="ProjectDto">
		SELECT
			F_PROJECT_ID AS "projectId",
			F_PROJECT_NAME AS "projectName",
			F_TITLE AS "title",
			F_DESCRIPTION AS "description",
			F_NOTE AS "note",
			F_COPYRIGHTS AS "copyrights"
		FROM
			T_PROJECT
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="find" resultType="ProjectDto">
		SELECT
			F_PROJECT_ID AS "projectId",
			F_PROJECT_NAME AS "projectName",
			F_TITLE AS "title",
			F_DESCRIPTION AS "description",
			F_NOTE AS "note",
			F_COPYRIGHTS AS "copyrights"
		FROM
			T_PROJECT
		<where>
			<if test="projectName != null">
				AND F_PROJECT_NAME = #{ projectName }
			</if>
			<if test="title != null">
				AND F_TITLE = #{ title }
			</if>
		</where>
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="listClasses" resultType="ClassDto">
		SELECT
			F_CLASS_ID AS "classId",
			F_OWNER_PROJECT_ID AS "ownerProjectId",
			F_CLASS_NAME AS "className",
			F_TITLE AS "title",
			F_DESCRIPTION AS "description",
			F_NOTE AS "note"
		FROM
			T_CLASS
		WHERE
			F_OWNER_PROJECT_ID = #{ dto.projectId }
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="findClasses" resultType="ClassDto">
		SELECT
			F_CLASS_ID AS "classId",
			F_OWNER_PROJECT_ID AS "ownerProjectId",
			F_CLASS_NAME AS "className",
			F_TITLE AS "title",
			F_DESCRIPTION AS "description",
			F_NOTE AS "note"
		FROM
			T_CLASS
		WHERE
			F_OWNER_PROJECT_ID = #{ dto.projectId }
			<if test="ownerProjectId != null">
				AND F_OWNER_PROJECT_ID = #{ ownerProjectId }
			</if>
			<if test="className != null">
				AND F_CLASS_NAME = #{ className }
			</if>
			<if test="title != null">
				AND F_TITLE = #{ title }
			</if>
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="listEnums" resultType="EnumDto">
		SELECT
			F_ENUM_ID AS "enumId",
			F_OWNER_PROJECT_ID AS "ownerProjectId",
			F_ENUM_NAME AS "enumName",
			F_ENCODE_STRING AS "encodeString",
			F_TITLE AS "title",
			F_DESCRIPTION AS "description",
			F_NOTE AS "note"
		FROM
			T_ENUM
		WHERE
			F_OWNER_PROJECT_ID = #{ dto.projectId }
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="findEnums" resultType="EnumDto">
		SELECT
			F_ENUM_ID AS "enumId",
			F_OWNER_PROJECT_ID AS "ownerProjectId",
			F_ENUM_NAME AS "enumName",
			F_ENCODE_STRING AS "encodeString",
			F_TITLE AS "title",
			F_DESCRIPTION AS "description",
			F_NOTE AS "note"
		FROM
			T_ENUM
		WHERE
			F_OWNER_PROJECT_ID = #{ dto.projectId }
			<if test="ownerProjectId != null">
				AND F_OWNER_PROJECT_ID = #{ ownerProjectId }
			</if>
			<if test="enumName != null">
				AND F_ENUM_NAME = #{ enumName }
			</if>
			<if test="encodeString != null">
				AND F_ENCODE_STRING = #{ encodeString }
			</if>
			<if test="title != null">
				AND F_TITLE = #{ title }
			</if>
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

</mapper>
