<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.vvorks.builder.server.mapper.QueryMapper">

	<insert id="insert" parameterType="QueryContent">
		INSERT INTO T_QUERY (
			F_QUERY_ID,
			F_OWNER_CLASS_ID,
			F_QUERY_NAME,
			F_FILTER,
			F_ORDER,
			F_TITLE,
			F_DESCRIPTION,
			F_NOTE,
			F__LAST_UPDATED_AT
		) VALUES (
			#{ queryId },
			#{ ownerClassId },
			#{ queryName },
			#{ filter },
			#{ order },
			#{ title },
			#{ description },
			#{ note },
			#{ _lastUpdatedAt }
		)
	</insert>

	<update id="update" parameterType="QueryContent">
		UPDATE T_QUERY SET
			F_OWNER_CLASS_ID = #{ ownerClassId },
			F_QUERY_NAME = #{ queryName },
			F_FILTER = #{ filter },
			F_ORDER = #{ order },
			F_TITLE = #{ title },
			F_DESCRIPTION = #{ description },
			F_NOTE = #{ note },
			F__LAST_UPDATED_AT = #{ _lastUpdatedAt }
		WHERE
			F_QUERY_ID = #{ queryId }
	</update>

	<delete id="delete" parameterType="QueryContent">
		DELETE FROM T_QUERY
		WHERE
			F_QUERY_ID = #{ queryId }
	</delete>

	<select id="get" resultType="QueryContent">
		SELECT
			F_QUERY_ID AS "queryId",
			F_OWNER_CLASS_ID AS "ownerClassId",
			F_QUERY_NAME AS "queryName",
			F_FILTER AS "filter",
			F_ORDER AS "order",
			F_TITLE AS "title",
			F_DESCRIPTION AS "description",
			F_NOTE AS "note",
			F__LAST_UPDATED_AT AS "_lastUpdatedAt"
		FROM
			T_QUERY
		WHERE
			F_QUERY_ID = #{ queryId }
	</select>

	<select id="listSummary" resultType="QuerySummary">
		SELECT
			MAX(F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_QUERY
	</select>

	<select id="listContent" resultType="QueryContent">
		SELECT
			F_QUERY_ID AS "queryId",
			F_OWNER_CLASS_ID AS "ownerClassId",
			F_QUERY_NAME AS "queryName",
			F_FILTER AS "filter",
			F_ORDER AS "order",
			F_TITLE AS "title",
			F_DESCRIPTION AS "description",
			F_NOTE AS "note",
			F__LAST_UPDATED_AT AS "_lastUpdatedAt"
		FROM
			T_QUERY
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="getOwner" resultType="ClassContent">
		SELECT
			F_CLASS_ID AS "classId",
			F_OWNER_PROJECT_ID AS "ownerProjectId",
			F_CLASS_NAME AS "className",
			F_TITLE AS "title",
			F_DESCRIPTION AS "description",
			F_NOTE AS "note",
			F__LAST_UPDATED_AT AS "_lastUpdatedAt"
		FROM
			T_CLASS
		WHERE
			F_CLASS_ID = #{ ownerClassId }
	</select>

</mapper>
