<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.vvorks.builder.server.mapper.QueryMapper">

	<insert id="insert" parameterType="QueryContent">
		INSERT INTO T_QUERY (
			F_QUERY_ID,
			F_OWNER_CLASS_ID,
			F_QUERY_NAME,
			F_FILTER,
			F_ORDER,
			F_TITLE,
			F_DESCRIPTION,
			F_NOTE,
			F__LAST_UPDATED_AT
		) VALUES (
			#{ queryId },
			#{ ownerClassId },
			#{ queryName },
			#{ filter },
			#{ order },
			#{ title },
			#{ description },
			#{ note },
			(strftime('%s', 'now') * 1000)
		)
	</insert>

	<update id="update" parameterType="QueryContent">
		UPDATE T_QUERY SET
			F_OWNER_CLASS_ID = #{ ownerClassId },
			F_QUERY_NAME = #{ queryName },
			F_FILTER = #{ filter },
			F_ORDER = #{ order },
			F_TITLE = #{ title },
			F_DESCRIPTION = #{ description },
			F_NOTE = #{ note },
			F__LAST_UPDATED_AT = (strftime('%s', 'now') * 1000)
		WHERE
			F_QUERY_ID = #{ queryId }
			AND
			F__LAST_UPDATED_AT = #{ _lastUpdatedAt }
	</update>

	<delete id="delete" parameterType="QueryContent">
		DELETE FROM T_QUERY
		WHERE
			F_QUERY_ID = #{ queryId }
			AND
			F__LAST_UPDATED_AT = #{ _lastUpdatedAt }
	</delete>

	<select id="get" resultType="QueryContent">
		SELECT
			T1.F_QUERY_ID AS "queryId",
			T1.F_OWNER_CLASS_ID AS "ownerClassId",
			T1.F_QUERY_NAME AS "queryName",
			T1.F_FILTER AS "filter",
			T1.F_ORDER AS "order",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_TITLE AS "_title",
			T2.F_TITLE AS "owner_title"
		FROM
			T_QUERY T1
		LEFT JOIN T_CLASS T2 ON
			T1.F_OWNER_CLASS_ID = T2.F_CLASS_ID
		WHERE
			T1.F_QUERY_ID = #{ queryId }
	</select>

	<select id="listSummary" resultType="QuerySummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_QUERY T1
	</select>

	<select id="listContent" resultType="QueryContent">
		SELECT
			T1.F_QUERY_ID AS "queryId",
			T1.F_OWNER_CLASS_ID AS "ownerClassId",
			T1.F_QUERY_NAME AS "queryName",
			T1.F_FILTER AS "filter",
			T1.F_ORDER AS "order",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_TITLE AS "_title",
			T2.F_TITLE AS "owner_title"
		FROM
			T_QUERY T1
		LEFT JOIN T_CLASS T2 ON
			T1.F_OWNER_CLASS_ID = T2.F_CLASS_ID
		ORDER BY
			T1.F_QUERY_ID ASC
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="getOwner" resultType="ClassContent">
		SELECT
			T1.F_CLASS_ID AS "classId",
			T1.F_OWNER_PROJECT_ID AS "ownerProjectId",
			T1.F_CLASS_NAME AS "className",
			T1.F_ORDER_EXPR AS "orderExpr",
			T1.F_TITLE_EXPR AS "titleExpr",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_TITLE AS "_title",
			T2.F_TITLE AS "owner_title"
		FROM
			T_CLASS T1
		LEFT JOIN T_PROJECT T2 ON
			T1.F_OWNER_PROJECT_ID = T2.F_PROJECT_ID
		WHERE
			T1.F_CLASS_ID = #{ ownerClassId }
	</select>

	<select id="listOwnerCandidateSummary" resultType="ClassSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_CLASS T1
		<where>
			<if test="hint != null">
				T1.F_TITLE LIKE '%' || #{hint} || '%'
			</if>
		</where>
	</select>

	<select id="listOwnerCandidateSubject" resultType="ClassSubject">
		SELECT
			T1.F_CLASS_ID AS "classId",
			T1.F_TITLE AS "_title"
		FROM
			T_CLASS T1
		<where>
			<if test="hint != null">
				T1.F_TITLE LIKE '%' || #{hint} || '%'
			</if>
		</where>
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

</mapper>
