<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Apache License v2.0 -->
<mapper namespace="com.github.vvorks.builder.server.mapper.WidgetMapper">

	<insert id="insert" parameterType="WidgetContent">
		INSERT INTO T_WIDGET (
			F_WIDGET_ID,
			F_OWNER_PROJECT_ID,
			F_WIDGET_NAME,
			F_TITLE,
			F_DESCRIPTION,
			F__LAST_UPDATED_AT
		) VALUES (
			#{ widgetId },
			#{ ownerProjectId },
			#{ widgetName },
			#{ title },
			#{ description },
			(strftime('%s', 'now') * 1000)
		)
	</insert>

	<update id="update" parameterType="WidgetContent">
		UPDATE T_WIDGET SET
			F_OWNER_PROJECT_ID = #{ ownerProjectId },
			F_WIDGET_NAME = #{ widgetName },
			F_TITLE = #{ title },
			F_DESCRIPTION = #{ description },
			F__LAST_UPDATED_AT = (strftime('%s', 'now') * 1000)
		WHERE
			F_WIDGET_ID = #{ widgetId }
			AND
			F__LAST_UPDATED_AT = #{ _lastUpdatedAt }
	</update>

	<delete id="delete" parameterType="WidgetContent">
		DELETE FROM T_WIDGET
		WHERE
			F_WIDGET_ID = #{ widgetId }
			AND
			F__LAST_UPDATED_AT = #{ _lastUpdatedAt }
	</delete>

	<select id="get" resultType="WidgetContent">
		SELECT
			T1.F_WIDGET_ID AS "widgetId",
			T1.F_OWNER_PROJECT_ID AS "ownerProjectId",
			T1.F_WIDGET_NAME AS "widgetName",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_WIDGET_NAME AS "_title",
			T2.F_PROJECT_NAME || '(' || T2.F_TITLE || ')' AS "owner_title"
		FROM
			T_WIDGET T1
		LEFT JOIN T_PROJECT T2 ON
			T1.F_OWNER_PROJECT_ID = T2.F_PROJECT_ID
		WHERE
			T1.F_WIDGET_ID = #{ widgetId }
	</select>

	<select id="listSummary" resultType="WidgetSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_WIDGET T1
	</select>

	<select id="listContent" resultType="WidgetContent">
		SELECT
			T1.F_WIDGET_ID AS "widgetId",
			T1.F_OWNER_PROJECT_ID AS "ownerProjectId",
			T1.F_WIDGET_NAME AS "widgetName",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_WIDGET_NAME AS "_title",
			T2.F_PROJECT_NAME || '(' || T2.F_TITLE || ')' AS "owner_title"
		FROM
			T_WIDGET T1
		LEFT JOIN T_PROJECT T2 ON
			T1.F_OWNER_PROJECT_ID = T2.F_PROJECT_ID
		ORDER BY
			T1.F_WIDGET_NAME
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

	<select id="getOwner" resultType="ProjectContent">
		SELECT
			T1.F_PROJECT_ID AS "projectId",
			T1.F_PROJECT_NAME AS "projectName",
			T1.F_GRADLE_NAME AS "gradleName",
			T1.F_TITLE AS "title",
			T1.F_DESCRIPTION AS "description",
			T1.F_NOTE AS "note",
			T1.F_COPYRIGHTS AS "copyrights",
			T1.F__LAST_UPDATED_AT AS "_lastUpdatedAt",
			T1.F_PROJECT_NAME || '(' || T1.F_TITLE || ')' AS "_title"
		FROM
			T_PROJECT T1
		WHERE
			T1.F_PROJECT_ID = #{ ownerProjectId }
	</select>

	<select id="listOwnerCandidateSummary" resultType="ProjectSummary">
		SELECT
			MAX(T1.F__LAST_UPDATED_AT) AS "max_lastUpdatedAt",
			COUNT(*) AS "count",
			0 AS "focus"
		FROM
			T_PROJECT T1
		<where>
			<if test="hint != null">
				T1.F_PROJECT_NAME || '(' || T1.F_TITLE || ')' LIKE '%' || #{hint} || '%'
			</if>
		</where>
	</select>

	<select id="listOwnerCandidateSubject" resultType="ProjectSubject">
		SELECT
			T1.F_PROJECT_ID AS "projectId",
			T1.F_PROJECT_NAME || '(' || T1.F_TITLE || ')' AS "_title"
		FROM
			T_PROJECT T1
		<where>
			<if test="hint != null">
				T1.F_PROJECT_NAME || '(' || T1.F_TITLE || ')' LIKE '%' || #{hint} || '%'
			</if>
		</where>
		<if test="limit &gt; 0">
			LIMIT #{limit}
		<if test="offset &gt;= 0">
			OFFSET #{offset}
		</if>
		</if>
	</select>

</mapper>
